<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.attach.mapper.AttachMapper">
	<!-- ============================================================ -->
    <!-- 첨부파일 조회                                    				  -->
    <!-- ============================================================ -->
    <select id="getAttachFiles" parameterType="map" resultType="map">
        SELECT
               SERVICE_ID,
               ATCHFILEPATH_NM,
               ATCHFILE_NM,
               SEQ,
               ATCHSVRFILE_NM,
               GUBUN,
               INS_USER,
               TO_CHAR(INS_DATE, 'YYYY-MM-DD HH24:MI:SS') AS INS_DATE,
               UPD_USER,
               TO_CHAR(UPD_DATE, 'YYYY-MM-DD HH24:MI:SS') AS UPD_DATE
          FROM TR_ATTACH_FILE
         WHERE SERVICE_ID = #{SERVICE_ID}
        <if test="GUBUN != null and GUBUN != ''">
		    AND (
		        GUBUN = #{GUBUN}
		        <if test="GUBUN2 != null and GUBUN2 != ''">
		            OR GUBUN = #{GUBUN2}
		        </if>
		    )
		</if>
		<if test="ATCHSVRFILE_NM != null and ATCHSVRFILE_NM != ''">
		  AND ATCHSVRFILE_NM LIKE #{ATCHSVRFILE_NM} || '%'
		</if>         	
         ORDER BY TO_NUMBER(SEQ)
    </select>
    
    <!-- ============================================================ -->
    <!-- 감면신청서 정보 조회                                    			  -->
    <!-- ============================================================ -->
    <select id="selectExemptionInfo" parameterType="map" resultType="map">
        SELECT TS.SERVICE_ID, REQ_CAR_NO AS CAR_NO, TN.OWNER_NM, TN.BIZ_NO,
                TO_CHAR(REQUEST_DT, 'YYYY-MM-DD') AS REQUEST_DT,
                pkg_common.fn_decrypt(TN.REG_NO) AS REG_NO,
                pkg_common.fn_decrypt(BASE_ADDRESS) AS ADDRESS,
                pkg_common.fn_decrypt(BASE_ADDRESS_DT) AS ADDRESS_DT,
                pkg_common.fn_decrypt(MPHONE_NO) AS MPHONE_NO,
                (
                    SELECT CODE_NM
                    FROM TM_CODE
                    WHERE GROUP_ID = 'GOVT'
                      AND CODE_ID = TS.GOVT_ID
                ) AS GOVT_NM,
                (
                    SELECT TO_CHAR(DSIGN_DT, 'YYYY-MM-DD')
                    FROM TR_DSIGN
                    WHERE SERVICE_ID = TS.SERVICE_ID
                      AND DSIGN_ST = 'END'
                      AND DSIGN_GB = 'WSIGN'
                      AND DSIGN_SEQ = (
                          SELECT MAX(DSIGN_SEQ)
                          FROM TR_DSIGN
                          WHERE SERVICE_ID = TS.SERVICE_ID
                            AND DSIGN_ST = 'END'
                            AND DSIGN_GB = 'WSIGN'
                      )
                ) AS SIGN_DT,
                NTAX_WHO,
                DEBTOR_NM,
                pkg_common.fn_decrypt(TOI.REG_NO) AS DEBTOR_NO,
                pkg_common.fn_decrypt(DEBTOR_ADDR) AS DEBTOR_ADDR,
                pkg_common.fn_decrypt(DEBTOR_ADDR_DT) AS DEBTOR_ADDR_DT,
                pkg_common.fn_decrypt(DSIGN_HP_NO) AS DEBTOR_TEL 
          FROM TR_SERVICE TS, TR_NEWCAR TN, TR_OWNERINFO TOI
         WHERE TS.SERVICE_ID = TN.SERVICE_ID
           AND TS.SERVICE_ID = TOI.SERVICE_ID
		   AND TS.SERVICE_ID = #{SERVICE_ID}
		   AND TOI.SEQ = '0'
    </select>
    
	<!-- ============================================================ -->
    <!-- 첨부파일 등록                                    				  -->
    <!-- ============================================================ -->
    <insert id="insertAttachFile" parameterType="java.util.Map">
        INSERT INTO TR_ATTACH_FILE (
               SERVICE_ID,
               ATCHFILEPATH_NM,
               ATCHFILE_NM,
               SEQ,
               ATCHSVRFILE_NM,
               GUBUN,
               INS_USER,
               INS_DATE,
               UPD_USER,
               UPD_DATE
        ) VALUES (
               #{SERVICE_ID},
               #{ATCHFILEPATH_NM},
               #{ATCHFILE_NM},
               #{SEQ},
               #{ATCHSVRFILE_NM},
               #{GUBUN},
               #{INS_USER},
               SYSDATE,
               #{UPD_USER},
               SYSDATE
        )
    </insert>

    <!-- ============================================================ -->
    <!-- 첨부파일 삭제                                    				  -->
    <!-- ============================================================ -->
    <delete id="deleteAttachFile" parameterType="java.util.Map">
        DELETE FROM TR_ATTACH_FILE
         WHERE SERVICE_ID = #{SERVICE_ID}
           <if test="GUBUN != null and GUBUN != ''">
           AND GUBUN = #{GUBUN}
           </if>
           <if test="SEQ != null and SEQ != ''">
           AND SEQ = #{SEQ}
           </if>
           <if test="ATCHSVRFILE_NM != null and ATCHSVRFILE_NM != ''">
           AND ATCHSVRFILE_NM = #{ATCHSVRFILE_NM}
           </if>
    </delete>	

</mapper>
