<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.auth.mapper.AuthMapper">

    <!-- 사용자 ID로 사용자 정보 조회 (USE_YN = 'Y' 조건 포함) -->
    <select id="findByUserId" parameterType="string" resultType="com.dacos.auth.dto.UserDto">
        SELECT
            MM.LOGIN_ID,
            MM.PASS_WD,
            MM.LOGIN_GB,
            PKG_COMMON.FN_DECRYPT(MM.REGIST_NO) AS REGIST_NO,
            MD.MEMBER_NM,
            MD.USE_YN,
            MD.COMPANY_ID,
            TC.COMPANY_NM,
            MD.BRANCH_ID,
            TB.BRANCH_NM,
            MD.SANGSA_ID,
            TS.SANGSA_NM,
            MD.MEMBER_GB,
            MD.ASSOCIATION_ID,
            <!-- Mobile-OK compares the confirmed phone number with this decrypted value. -->
            PKG_COMMON.FN_DECRYPT(MD.MPHONE_NO) AS MPHONE_NO
        FROM
            TM_MEMBER_MT MM
            INNER JOIN TM_MEMBER_DT MD
                ON MM.LOGIN_ID = MD.LOGIN_ID
               AND MM.LOGIN_ID = MD.MEMBER_ID
            LEFT JOIN TM_COMPANY TC
                ON TC.COMPANY_ID = MD.COMPANY_ID
               AND TC.USE_YN = 'Y'
            LEFT JOIN TM_BRANCH TB
                ON TB.COMPANY_ID = MD.COMPANY_ID
               AND TB.BRANCH_ID = MD.BRANCH_ID
               AND TB.USE_YN = 'Y'
            LEFT JOIN TM_SANGSA TS
                ON TS.COMPANY_ID = MD.COMPANY_ID
               AND TS.BRANCH_ID = MD.BRANCH_ID
               AND TS.SANGSA_ID = MD.SANGSA_ID
               AND NVL(TS.USE_YN, 'Y') = 'Y'
        WHERE
            MM.LOGIN_ID = #{userId}
            AND MM.USE_YN  = 'Y'
   			AND MD.USE_YN = 'Y'
   			<!-- AND (MD.COMPANY_ID LIKE 'W%' OR MD.COMPANY_ID = 'dacos') --> <!-- 기존 더코어 사용 회사 로그인 가능 -->
    </select>
    
	<select id="selectCompanyInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT
	        COMPANY_ID,
	        COMPANY_NM,
	        ASSOCIATION_ID,
	        BIZ_NO,
	        ADDRESS,
	        ADDRESS_DT,
	        POST_NO,
	        COMPANY_NO  
	    FROM TM_COMPANY
	    WHERE COMPANY_ID = #{COMPANY_ID}
	      AND USE_YN = 'Y'
	</select>
	
	<select id="selectBranchID" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT
	        BRANCH_ID as CODE_CD,
	        BRANCH_NM as CODE_NM    
	    FROM
	        TM_BRANCH    
	    WHERE
	        COMPANY_ID = #{COMPANY_ID}         
	        AND USE_YN = 'Y'        
	    ORDER BY
	        CODE_NM 
	</select>	
	
	<select id="selectAssociation" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	   SELECT
	       ASSOCIATION_ID as CODE_CD,
	       COMPANY_NM as CODE_NM    
	   FROM
	       TM_ASSOCIATION
	</select>		
	
	<select id="selectMBCount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT
	        COUNT(LOGIN_ID) AS RECCNT
	    FROM TM_MEMBER_MT
	    WHERE LOGIN_ID = #{LOGIN_ID}
	</select>
	
	<select id="selectMemberInfo" resultType="hashmap">
	    SELECT
	        MT.LOGIN_ID,
	        MT.LOGIN_GB,
	        MT.REGIST_NO,
	        MT.USE_YN,
	        DT.MEMBER_NM,
	        DT.TEL_NO,
	        DT.MPHONE_NO,
	        DT.COMPANY_ID,
	        DT.BRANCH_ID,
	        DT.SANGSA_ID,
	        DT.MEMBER_GB
	    FROM TM_MEMBER_MT MT
	    LEFT JOIN TM_MEMBER_DT DT
	        ON MT.LOGIN_ID = DT.LOGIN_ID
	    WHERE MT.LOGIN_ID = #{loginId}
	</select>

	<select id="selectMemberInfo2" resultType="hashmap">
	    SELECT
	        MT.LOGIN_ID        AS LOGIN_ID,
	        MT.LOGIN_GB        AS LOGIN_GB,
	        PKG_COMMON.FN_DECRYPT(MT.REGIST_NO)   AS REGIST_NO,
	        MT.USE_YN          AS USE_YN,
	        DT.MEMBER_ID       AS MEMBER_ID,
	        DT.MEMBER_NM       AS MEMBER_NM,
	        PKG_COMMON.FN_DECRYPT(DT.TEL_NO)      AS TEL_NO,
	        PKG_COMMON.FN_DECRYPT(DT.MPHONE_NO)   AS MPHONE_NO,
	        DT.COMPANY_ID      AS COMPANY_ID,
	        DT.BRANCH_ID       AS BRANCH_ID,
	        DT.SANGSA_ID       AS SANGSA_ID,
	        DT.MEMBER_GB       AS MEMBER_GB,
	        ETC.MEMBER_MAIL    AS MEMBER_MAIL
	    FROM TM_MEMBER_MT MT
	    LEFT JOIN TM_MEMBER_DT DT
	        ON MT.LOGIN_ID = DT.LOGIN_ID
	    LEFT JOIN TM_MEMBER_ETC ETC
	        ON ETC.LOGIN_ID = DT.LOGIN_ID
	       AND ETC.MEMBER_ID = DT.MEMBER_ID
	       AND ETC.COMPANY_ID = DT.COMPANY_ID
	    WHERE MT.LOGIN_ID = #{loginId}
	</select>

	<select id="selectMemberSuInfo" parameterType="string" resultType="java.util.Map">
		SELECT COMPANY_ID, MEMBER_NM, LOGIN_ID
		FROM TM_MEMBER_DT
		WHERE MEMBER_GB = 'SU'
		  AND COMPANY_ID = #{companyId}
	</select>	
	
    <!-- BCrypt 비밀번호로 업데이트 (단계적 전환용) -->
    <update id="updatePasswordToBcrypt">
        UPDATE TM_MEMBER_MT
        SET PASS_WD = #{bcryptPassword}
        WHERE LOGIN_ID = #{userId}
    </update>

	<update id="updatePasswordReset">
			UPDATE TM_MEMBER_MT
			SET PASS_WD = #{PASS_WD},
			    UPD_USER = #{UPD_USER},
				UPD_DATE = SYSDATE,
      	 		ERROR_COUNT = '0'	
			WHERE LOGIN_ID=#{LOGIN_ID}
	</update>		
	
	<update id="increaseLoginErrorCount">
    	UPDATE TM_MEMBER_MT
	       SET ERROR_COUNT = TO_CHAR(NVL(TO_NUMBER(ERROR_COUNT), 0) + 1),
	           USE_YN = CASE
	                        WHEN NVL(TO_NUMBER(ERROR_COUNT), 0) + 1 >= 5 THEN 'N'
	                        ELSE USE_YN
	                    END,
	           UPD_USER = #{userId},
	           UPD_DATE = SYSDATE
	     WHERE LOGIN_ID = #{userId}
	</update>
	
	<update id="resetLoginErrorCount">
	    UPDATE TM_MEMBER_MT
	       SET ERROR_COUNT = '0',
	           UPD_USER = #{userId},
	           UPD_DATE = SYSDATE
	     WHERE LOGIN_ID = #{userId}
	</update>	

	<insert id="insertLoginLog" parameterType="java.util.Map">
		INSERT INTO TR_LOGIN_LOG (
			LOGIN_ID,
			LOGIN_IP,
			RESULT,
			LOGIN_DT,
			LOGOUT_DT,
			ASSOCIATION_ID,
			COMPANY_ID,
			BRANCH_ID,
			SANGSA_ID,
			LOGIN_NM,
			USER_AUTH
		) VALUES (
			#{LOGIN_ID},
			#{LOGIN_IP},
			#{RESULT},
			#{LOGIN_DT},
			NULL,
			#{ASSOCIATION_ID},
			#{COMPANY_ID},
			#{BRANCH_ID},
			#{SANGSA_ID},
			#{LOGIN_NM},
			#{USER_AUTH}
		)
	</insert>

	<update id="updateLogoutDt">
		UPDATE TR_LOGIN_LOG
		   SET LOGOUT_DT = TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
		 WHERE LOGIN_ID = #{loginId}
		   AND LOGIN_DT = #{loginDt}
		   AND LOGOUT_DT IS NULL
	</update>
	
	<update id="updatePasswordDate">
		<![CDATA[
			UPDATE TM_MEMBER_DT
			SET PWD_CH_DT = sysdate
			WHERE LOGIN_ID=#{LOGIN_ID}
		]]>
	</update>
	
	<update id="updateMemberMaster">
		<![CDATA[
			UPDATE TM_MEMBER_MT 
			   SET
				   LOGIN_GB = #{LOGIN_GB},
				   REGIST_NO = PKG_COMMON.FN_ENCRYPT(#{REGIST_NO}),
				   UPD_USER = #{LOGIN_ID},
				   UPD_DATE = SYSDATE
			WHERE 
				   LOGIN_ID = #{LOGIN_ID}
		]]>
	</update>
	
	<update id="updateMemberDetail">
		<![CDATA[
			UPDATE TM_MEMBER_DT SET
				   TEL_NO = PKG_COMMON.FN_ENCRYPT(#{TEL_NO}),
				   MPHONE_NO = PKG_COMMON.FN_ENCRYPT(#{MPHONE_NO}),
				   UPD_USER = #{LOGIN_ID},
				   MEMBER_NM = #{MEMBER_NM},
				   UPD_DATE = SYSDATE
			WHERE 
				   LOGIN_ID = #{LOGIN_ID}
		]]>
	</update> 	
    
    <insert id="insertMemberMaster" parameterType="java.util.HashMap">
	    INSERT INTO TM_MEMBER_MT (
	        LOGIN_ID,
	        PASS_WD,
	        LOGIN_GB,
	        REGIST_NO,
	        INS_USER,
	        INS_DATE
	    )
	    VALUES (
	        #{LOGIN_ID},
	        #{PASS_WD},
	        #{LOGIN_GB},
	        PKG_COMMON.FN_ENCRYPT(#{REGIST_NO}),
	        'FIRST',
	        SYSDATE
	    )
	</insert>
	
	<insert id="insertMemberDetail" parameterType="java.util.HashMap">
	    INSERT INTO TM_MEMBER_DT (
	        LOGIN_ID,
	        MEMBER_ID,
	        ASSOCIATION_ID,
	        COMPANY_ID,
	        BRANCH_ID,
	        SANGSA_ID,
	        MEMBER_NM,
	        MEMBER_GB,
	        TEL_NO,
	        MPHONE_NO,
	        CONFIRM_DT,
	        USE_YN,
	        INS_USER,
	        INS_DATE
	    )
	    VALUES (
	        #{LOGIN_ID},
	        #{MEMBER_ID},
	        #{ASSOCIATION_ID},
	        #{COMPANY_ID},
	        #{BRANCH_ID},
	        #{SANGSA_ID},
	        #{MEMBER_NM},
	        #{MEMBER_GB},
	        PKG_COMMON.FN_ENCRYPT(#{TEL_NO}),
	        PKG_COMMON.FN_ENCRYPT(#{MPHONE_NO}),
	        NULL,
	        'W',
	        'FIRST',
	        SYSDATE
	    )
	</insert>
	
	<insert id="mergeMemberEtc" parameterType="java.util.HashMap">
	    MERGE INTO TM_MEMBER_ETC T
	    USING (
	        SELECT
	            #{LOGIN_ID} AS LOGIN_ID,
	            #{MEMBER_ID} AS MEMBER_ID,
	            #{COMPANY_ID} AS COMPANY_ID
	        FROM DUAL
	    ) S
	    ON (
	        T.LOGIN_ID = S.LOGIN_ID
	        AND T.MEMBER_ID = S.MEMBER_ID
	        AND T.COMPANY_ID = S.COMPANY_ID
	    )
	    WHEN MATCHED THEN
	        UPDATE SET
	            T.MEMBER_MAIL = #{MEMBER_MAIL},
	            T.UPD_USER = #{LOGIN_ID},
	            T.UPD_DATE = SYSDATE
	    WHEN NOT MATCHED THEN
	        INSERT (
	            LOGIN_ID,
	            MEMBER_ID,
	            COMPANY_ID,
	            FAV_MENU,
	            MEMBER_MAIL,
	            INS_USER,
	            INS_DATE
	        )
	        VALUES (
	            #{LOGIN_ID},
	            #{MEMBER_ID},
	            #{COMPANY_ID},
	            '',
	            #{MEMBER_MAIL},
	            #{LOGIN_ID},
	            SYSDATE
	        )
	</insert>

</mapper>
