<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.trnsname.mapper.CarNoDetachMapper">
	
	<update id="updateTrCarNoDetach" parameterType="map">
	    UPDATE TR_CARNO_DETACH
	    <set>
	
	        <if test="SERVICE_ID != null and SERVICE_ID != ''">
	            SERVICE_ID = #{SERVICE_ID},
	        </if>
	
	        <if test="WORK_CD != null and WORK_CD != ''">
	            WORK_CD = #{WORK_CD},
	        </if>
	
	        <if test="NUMPLATE_GB != null and NUMPLATE_GB != ''">
	            TASK_CD = #{NUMPLATE_GB},
	        </if>
	
	        <if test="CAR_NO != null and CAR_NO != ''">
	            CAR_NO = #{CAR_NO},
	        </if>
	
	        <if test="POST_CAR_NO != null and POST_CAR_NO != ''">
	            POST_CAR_NO = #{POST_CAR_NO},
	        </if>
	
	        <if test="OWNER_YN != null and OWNER_YN != ''">
	            OWNER_YN = #{OWNER_YN},
	        </if>
	
	        <if test="SEND_YN != null and SEND_YN != ''">
	            SEND_YN = #{SEND_YN},
	        </if>
	
	        <if test="RECEIVE_YN != null and RECEIVE_YN != ''">
	            RECEIVE_YN = #{RECEIVE_YN},
	        </if>
	
	        <if test="NUM_MEMO_TX != null and NUM_MEMO_TX != ''">
	            MEMO_TX = #{NUM_MEMO_TX},
	        </if>
	
	        <if test="ETC1 != null and ETC1 != ''">
	            ETC1 = #{ETC1},
	        </if>
	
	        <if test="ETC2 != null and ETC2 != ''">
	            ETC2 = #{ETC2},
	        </if>
	
	        <if test="ETC3 != null and ETC3 != ''">
	            ETC3 = #{ETC3},
	        </if>
	
	        <if test="ETC4 != null and ETC4 != ''">
	            ETC4 = #{ETC4},
	        </if>
	
	        <if test="ETC5 != null and ETC5 != ''">
	            ETC5 = #{ETC5},
	        </if>
	
	        <if test="UPD_USER != null and UPD_USER != ''">
	            UPD_USER = #{UPD_USER},
	        </if>
	
			<if test="(UPD_USER == null or UPD_USER == '') and MEMBER_ID != null and MEMBER_ID != ''">
			    UPD_USER = #{MEMBER_ID},
			</if>
	
	        <if test="DELIVERY_GB != null and DELIVERY_GB != ''">
	            DELIVERY_GB = #{DELIVERY_GB},
	        </if>
	
	        <if test="DELIVERY_CP != null and DELIVERY_CP != ''">
	            DELIVERY_CP = #{DELIVERY_CP},
	        </if>
	
	        <if test="DELIVERY_ADDR != null and DELIVERY_ADDR != ''">
	            DELIVERY_ADDR = PKG_COMMON.FN_ENCRYPT(#{DELIVERY_ADDR}),
	        </if>
	
	        <if test="DELIVERY_ADDR_DT != null and DELIVERY_ADDR_DT != ''">
	            DELIVERY_ADDR_DT = PKG_COMMON.FN_ENCRYPT(#{DELIVERY_ADDR_DT}),
	        </if>
	
	        <if test="DELIVERY_POST_NO != null and DELIVERY_POST_NO != ''">
	            DELIVERY_POST_NO = #{DELIVERY_POST_NO},
	        </if>
	
	        <if test="DELIVERY_CP_ADDR != null and DELIVERY_CP_ADDR != ''">
	            DELIVERY_CP_ADDR = PKG_COMMON.FN_ENCRYPT(#{DELIVERY_CP_ADDR}),
	        </if>
	
	        <if test="INSTALL_YN != null and INSTALL_YN != ''">
	            INSTALL_YN = #{INSTALL_YN},
	        </if>
	
	        <if test="NUMPLATE_ST != null and NUMPLATE_ST != ''">
	            NUMPLATE_ST = #{NUMPLATE_ST},
	        </if>
	
	        <if test="INSTALL_DT != null and INSTALL_DT != ''">
	            INSTALL_DT = #{INSTALL_DT},
	        </if>
	
	        <if test="INSTALL_NM != null and INSTALL_NM != ''">
	            INSTALL_NM = #{INSTALL_NM},
	        </if>
	
	        <if test="INSTALL_TEL_NO != null and INSTALL_TEL_NO != ''">
	            INSTALL_TEL_NO = PKG_COMMON.FN_ENCRYPT(#{INSTALL_TEL_NO}),
	        </if>
	
			<if test="INSTALL_FEE != null">
	            INSTALL_FEE = #{INSTALL_FEE},
	        </if>
	
	        <if test="INSTALL_SMS_TX != null and INSTALL_SMS_TX != ''">
	            INSTALL_SMS_TX = #{INSTALL_SMS_TX},
	        </if>
	
	        <if test="RECEIVE_TEL_NO != null and RECEIVE_TEL_NO != ''">
	            RECEIVE_TEL_NO = PKG_COMMON.FN_ENCRYPT(#{RECEIVE_TEL_NO}),
	        </if>
	
	        <if test="INSTALL_TM != null and INSTALL_TM != ''">
	            INSTALL_TM = #{INSTALL_TM},
	        </if>
	
	        <if test="DELIVERY_BC != null and DELIVERY_BC != ''">
	            DELIVERY_BC = #{DELIVERY_BC},
	        </if>
	
	        <if test="LAST_DELIVERY_GB != null and LAST_DELIVERY_GB != ''">
	            LAST_DELIVERY_GB = #{LAST_DELIVERY_GB},
	        </if>
	
	        <if test="LAST_DELIVERY_ADDR != null and LAST_DELIVERY_ADDR != ''">
	            LAST_DELIVERY_ADDR = PKG_COMMON.FN_ENCRYPT(#{LAST_DELIVERY_ADDR}),
	        </if>
	
	        <if test="LAST_DELIVERY_POST_NO != null and LAST_DELIVERY_POST_NO != ''">
	            LAST_DELIVERY_POST_NO = #{LAST_DELIVERY_POST_NO},
	        </if>
	
	        <if test="RENT_SEND_YN != null and RENT_SEND_YN != ''">
	            RENT_SEND_YN = #{RENT_SEND_YN},
	        </if>
	
	        <if test="RENT_RECEIVE_YN != null and RENT_RECEIVE_YN != ''">
	            RENT_RECEIVE_YN = #{RENT_RECEIVE_YN},
	        </if>
	
	        <if test='"Y".equals(RENT_SEND_YN) and RENT_SEND_YN_DT == null'>
			    RENT_SEND_YN_DT = SYSDATE,
			</if>
	
	        <if test='"Y".equals(RENT_RECEIVE_YN) and RENT_RECEIVE_YN_DT == null'>
			    RENT_RECEIVE_YN_DT = SYSDATE,
			</if>
				        
			<if test='"Y".equals(SEND_YN) and SEND_YN_DT == null'>
			    SEND_YN_DT = SYSDATE,
			</if>
			
			<if test='"N".equals(RENT_SEND_YN) and RENT_SEND_YN_DT != null'>
			    RENT_SEND_YN_DT = NULL,
			</if>
			
			<if test='"N".equals(RENT_RECEIVE_YN) and RENT_RECEIVE_YN_DT != null'>
			    RENT_RECEIVE_YN_DT = NULL,
			</if>
	
	        <if test='"N".equals(SEND_YN) and SEND_YN_DT != null'>
			    SEND_YN_DT = NULL,
			</if>
			
			<if test='"Y".equals(RECEIVE_YN) and RECEIVE_YN_DT == null'>
			    RECEIVE_YN_DT = SYSDATE,
			</if>
			
			<if test='"N".equals(RECEIVE_YN) and RECEIVE_YN_DT != null'>
			    RECEIVE_YN_DT = NULL,
			</if>
	
	        <if test="HOLE_YN != null and HOLE_YN != ''">
	            HOLE_YN = #{HOLE_YN},
	        </if>
	
	        <if test="SEAL_YN != null and SEAL_YN != ''">
	            SEAL_YN = #{SEAL_YN},
	        </if>
	
	        <if test="NUM_EO != null and NUM_EO != ''">
	            NUM_EO = #{NUM_EO},
	        </if>
	
	        <if test="INSU_START_DT != null and INSU_START_DT != ''">
	            INSU_START_DT = #{INSU_START_DT},
	        </if>
	
	        <if test="SONGJANG_NO != null and SONGJANG_NO != ''">
	            SONGJANG_NO = #{SONGJANG_NO},
	        </if>
	        
	        <if test="CUSTOMER_NM != null and CUSTOMER_NM != ''">
	            CUSTOMER_NM = #{CUSTOMER_NM},
	        </if>
	        
	        <if test="TOKEN != null and TOKEN != ''">
	            TOKEN = #{TOKEN},
	        </if>
	        
			UPD_DATE = SYSDATE
	    </set>
	
	    WHERE SERVICE_ID = #{SERVICE_ID}
	</update>

</mapper>