<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.customer.mapper.CustomerMapper">
	
	<select id="getTokenInfo" parameterType="map" resultType="map">
        SELECT TS.SERVICE_ID,
               TOKEN,
               REG_GB,
               PKG_COMMON.FN_DECRYPT(TN.REG_NO) AS REG_NO,
               RATIO_NO,
               MEMBER_ID,
               OWNER_NM,
               TN.TASK_CD,
               TN.PROC_CD,
               NTAX_TRGET_CD,
               NTAX_WHO,
               NTAX_TRGET_GR_CD,
           -- 신규등록인 경우 차량번호 REQ_CAR_NO
           CASE
                WHEN TS.WORK_CD = '010' THEN TN.REQ_CAR_NO
                ELSE TS.CAR_NO
           END AS CAR_NO, 
               (SELECT pkg_common.fn_decrypt(MPHONE_NO) 
                     FROM TM_MEMBER_DT 
                    WHERE LOGIN_ID = TS.MEMBER_ID
               ) AS MANAGER_TEL
          FROM TR_SERVICE TS,
               TR_NEWCAR TN,
               TR_CARNO_DETACH TCD
         WHERE TS.SERVICE_ID = TCD.SERVICE_ID
           AND TS.SERVICE_ID = TN.SERVICE_ID
           AND TS.REQUEST_DT >= ADD_MONTHS(SYSDATE, -1)
		   AND TOKEN =  #{TOKEN}
	</select>
	
	<select id="getTokenOwnerInfo" parameterType="map" resultType="map">
		SELECT TS.SERVICE_ID,
               TOKEN,
               DEBTOR_NM,
               TOI.DEBTOR_GB AS DEBTOR_GB,
               PKG_COMMON.FN_DECRYPT(TOI.REG_NO) AS DEBTOR_REG_NO
          FROM TR_SERVICE TS, 
               TR_OWNERINFO TOI,
               TR_CARNO_DETACH TCD
         WHERE TOI.SERVICE_ID = TCD.SERVICE_ID
           AND TS.SERVICE_ID = TOI.SERVICE_ID
           AND TS.REQUEST_DT >= ADD_MONTHS(SYSDATE, -1)
           AND TOKEN = #{TOKEN}
           AND TOI.SEQ = '0'
	</select>
	
</mapper>