<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.numplateApp.mapper.NumPlateMapper">

    <!-- 번호판 앱 전용 로그인: 비밀번호는 SQL 조건/로그에 남기지 않고 서비스에서 비교한다. -->
    <select id="loginManager" parameterType="map" resultType="map">
        SELECT COMPANY_ID,
               COMPANY_NM,
               MANAGER_NM,
               PKG_COMMON.FN_DECRYPT(TEL_NO) AS TEL_NO,
               GUBUN,
               ETC6
          FROM TM_NUM_MANAGER
         WHERE SUBSTR(PKG_COMMON.FN_DECRYPT(TEL_NO), -8)
               = SUBSTR(REPLACE(#{TEL_NO}, '-', ''), -8)
           AND USE_YN = 'Y'
    </select>

    <!-- 번호판 목록 조회 -->
    <select id="getNumPlateList" parameterType="com.dacos.numplateApp.dto.NumPlateSearchRequest"
            resultType="java.util.Map">
       SELECT TM.CAR_NO, TM.NUM_KIND, TM.USE_YN, NC.CARID_NO,
               TO_CHAR(TM.INPUT_DT, 'YYYY-MM-DD') as INPUT_DT, TO_CHAR(TM.USE_DT, 'MM-DD HH24:MI') as USE_DT, TM.SERVICE_ID, 
               TM.PROC_ST, TM.INS_USER, TM.INS_DATE, 
               TM.UPD_USER, TM.UPD_DATE, TM.GOVT_ID,
		        CD.DELIVERY_GB, CD.RECEIVE_NM, PKG_COMMON.FN_DECRYPT(CD.RECEIVE_TEL_NO) AS RECEIVE_TEL_NO, NC.IMSINUM_YN, TM.HOLE_YN, 
		        PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) || ' ' || PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR_DT) as DELIVERY_ADDR, NVL2(CD.RECEIVE_TEL_NO, PKG_COMMON.FN_DECRYPT(CD.RECEIVE_TEL_NO) || ',', '') || PKG_COMMON.FN_DECRYPT(CD.STATUS_SMS_NO) as SMS_NO, CD.CUSTOMER_NM, NC.CAR_NM, PKG_COMMON.FN_DECRYPT(CD.STATUS_SMS_NO) AS STATUS_SMS_NO,
		       CD.INSTALL_NM, PKG_COMMON.FN_DECRYPT(CD.INSTALL_TEL_NO) AS INSTALL_TEL_NO, CD.INSTALL_DT, CD.INSTALL_TM,
		       (SELECT SERIAL_NO FROM (SELECT CP.SERVICE_ID, SERIAL_NO FROM TR_CAR_PAPER CP, TM_NUMPLATE_LIST TM WHERE CP.SERVICE_ID = TM.SERVICE_ID ORDER BY PRINT_DT DESC) CPP WHERE CPP.SERVICE_ID = TM.SERVICE_ID AND ROWNUM = 1) as SERIAL_NO,
		       TM.SPECIAL_YN, TM.ASSIGN_CD, TM.SEAL_YN, TO_CHAR(TM.MAKE_DT, 'YYYY-MM-DD') as MAKE_DT
        FROM TM_NUMPLATE_LIST TM
        LEFT OUTER JOIN TR_SERVICE TR
        ON TM.SERVICE_ID = TR.SERVICE_ID
    	LEFT OUTER JOIN
        TR_CARNO_DETACH CD
            ON TM.SERVICE_ID = CD.SERVICE_ID  
        LEFT OUTER JOIN
        TR_NEWCAR NC
            ON TM.SERVICE_ID = NC.SERVICE_ID
        WHERE 1=1
        <if test="DATE_CD == 'INPUT_DT'">
            AND TO_CHAR(TM.INPUT_DT, 'YYYYMMDD') BETWEEN #{START_DT} AND #{END_DT}
        </if>
        <if test="DATE_CD == 'USE_DT'">
            AND TO_CHAR(TM.USE_DT, 'YYYYMMDD') BETWEEN #{START_DT} AND #{END_DT}
        </if>
        <if test="DATE_CD == 'MAKE_DT'">
            AND TO_CHAR(TM.MAKE_DT, 'YYYYMMDD') BETWEEN #{START_DT} AND #{END_DT}
        </if>
        <if test="SERVICE_ID != null and SERVICE_ID != ''">
            AND TR.SERVICE_ID = #{SERVICE_ID}
        </if>
        <if test="GOVT_ID != null and GOVT_ID != ''">
            AND TR.GOVT_ID = #{GOVT_ID}
        </if>
        <if test="CAR_NO != null and CAR_NO != ''">
        <choose>
        	<when test="END_CAR_NO != null and END_CAR_NO != ''">
        		AND TM.CAR_NO LIKE DECODE(LENGTH(#{CAR_NO}), 7, SUBSTR(#{CAR_NO}, 1, 3), DECODE(LENGTH(#{CAR_NO}), 8, SUBSTR(#{CAR_NO}, 1, 4))) || '%' AND SUBSTR(TM.CAR_NO, -4) BETWEEN SUBSTR(#{CAR_NO}, -4) AND #{END_CAR_NO}
        	</when>
        	<otherwise>
        		AND ((TM.CAR_NO LIKE '%' || #{CAR_NO} || '%') OR (NC.CARID_NO LIKE '%' || #{CAR_NO} || '%'))
        	</otherwise>
        </choose>
        </if>
        <if test="USE_YN != null and USE_YN != ''">
            AND TM.USE_YN = #{USE_YN}
        </if>
        <if test="PROC_ST != null and PROC_ST != ''">
            AND TM.PROC_ST = #{PROC_ST}
        </if>
        <if test="NUM_KIND != null and NUM_KIND != ''">
        	<if test="NUM_KIND != 'NOT'">
	            AND TM.NUM_KIND = #{NUM_KIND}
        	</if>
        </if>
        <if test="WORK_CD != null and WORK_CD != ''">
            AND TR.WORK_CD = #{WORK_CD}
        </if>
        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND TR.COMPANY_ID = #{COMPANY_ID}
        </if>
        <if test="DELIVERY_GB != null and DELIVERY_GB != ''">
        	<choose>
                <when test="DELIVERY_GB == 'NOSTAR'">
                    AND CD.DELIVERY_GB NOT IN ('STARA', 'OBS')
                </when>
                <otherwise>
                    AND CD.DELIVERY_GB IN 
                    <foreach collection="DELIVERY_GB.split(',')" item="gb" open="(" separator="," close=")">
                		#{gb}
            		</foreach>
                </otherwise>
            </choose>
        </if>
        <if test="DELIVERY_ADDR != null and DELIVERY_ADDR != ''">
        	AND (PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE #{DELIVERY_ADDR} || '%' 
        	<if test="DELIVERY_ADDR == '수도권'">
        		OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '서울%' OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '경기%' OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '인천%'   
        	</if>
        	<if test="DELIVERY_ADDR == '수도권제외'">
        		OR (PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) NOT LIKE '서울%' AND PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) NOT LIKE '경기%' AND PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) NOT LIKE '인천%')  
			</if>
        	<if test="DELIVERY_ADDR == '충북'">
        		OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '충청북도%'
        	</if>
        	<if test="DELIVERY_ADDR == '충남'">
        		OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '충청남도%'
        	</if>
        	<if test="DELIVERY_ADDR == '경북'">
        		OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '경상북도%'
        	</if>
        	<if test="DELIVERY_ADDR == '경남'">
        		OR PKG_COMMON.FN_DECRYPT(CD.DELIVERY_ADDR) LIKE '경상남도%' 
        	</if>
        		)
        </if>
        <if test="TIME_DVSN != null and TIME_DVSN != ''">
            AND SUBSTR(TO_CHAR(TR.REQUEST_DT, 'HH24'), 1, 2) IN
            <foreach collection="TIME_DVSN.split(',')" item="t" open="(" separator="," close=")">
                #{t}
            </foreach>
        </if>
        <if test="HOLE_YN != null and HOLE_YN != ''">
            AND TM.HOLE_YN = #{HOLE_YN}
        </if>
        <if test="SEAL_YN != null and SEAL_YN != ''">
            AND TM.SEAL_YN = #{SEAL_YN}
        </if>
        <if test="SPECIAL_YN != null and SPECIAL_YN != ''">
            AND TM.SPECIAL_YN = #{SPECIAL_YN}
        </if>
        <if test="ASSIGN_CD != null and ASSIGN_CD != ''">
        	<choose>
        		<when test="ASSIGN_CD == 'NOT'">
        			AND TM.ASSIGN_CD IS NULL
        		</when>
        		<otherwise>
        			<choose>
        				<when test="ASSIGN_CD == 'SUDO'">
        					AND TM.ASSIGN_CD IN (SELECT COMPANY_ID || BRANCH_ID FROM TM_CARNO_COMPANY WHERE COMPANY_ID = 'BITS' AND SUBSTR(BRANCH_NM, 0,3) = '수도권' AND USE_YN = 'Y')
        				</when>
        				<otherwise>
        					AND TM.ASSIGN_CD like #{ASSIGN_CD}
        				</otherwise>
        			</choose>
        		</otherwise>
        	</choose>
        </if>
    </select>

    <!-- 자동차등록증관리 목록 조회 -->
    <select id="getCarPaperList" parameterType="com.dacos.numplateApp.dto.NumPlateSearchRequest"
            resultType="java.util.Map">
        SELECT
            CP.SERVICE_ID,
            TS.CAR_NO,
            TS.COMPANY_ID,
            TC.COMPANY_NM,
            TO_CHAR(CP.PRINT_DT, 'YYYYMMDD') AS PRINT_DT
        FROM
            TR_CAR_PAPER  CP,
            TR_SERVICE    TS,
            TM_COMPANY    TC
        WHERE
            CP.SERVICE_ID = TS.SERVICE_ID
            AND TS.COMPANY_ID = TC.COMPANY_ID

        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND TS.COMPANY_ID = #{COMPANY_ID}
        </if>
        ORDER BY CP.PRINT_DT DESC
    </select>

    <!-- 임판회수관리 목록 조회 -->
    <select id="getTempNumPlateList" parameterType="com.dacos.numplateApp.dto.NumPlateSearchRequest"
            resultType="java.util.Map">
        SELECT
            NL.NUM_ID,
            NL.CAR_NO,
            NL.COMPANY_ID,
            TC.COMPANY_NM,
            TO_CHAR(NL.ISSUE_DT, 'YYYYMMDD') AS ISSUE_DT,
            TO_CHAR(NL.RETURN_DT, 'YYYYMMDD') AS RETURN_DT
        FROM
            TM_NUMPLATE_LIST  NL,
            TM_COMPANY        TC
        WHERE
            NL.COMPANY_ID = TC.COMPANY_ID(+)
            AND NL.NUM_ST = 'TEMP'

        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND NL.COMPANY_ID = #{COMPANY_ID}
        </if>
        ORDER BY NL.ISSUE_DT DESC
    </select>

    <!-- 번호판수불관리 목록 조회 -->
    <select id="getNumPlateSupplyList" parameterType="com.dacos.numplateApp.dto.NumPlateSearchRequest"
            resultType="java.util.Map">
        SELECT
            NS.SUPPLY_ID,
            NS.COMPANY_ID,
            TC.COMPANY_NM,
            NS.SUPPLY_QTY,
            TO_CHAR(NS.SUPPLY_DT, 'YYYYMMDD') AS SUPPLY_DT
        FROM
            TM_NUMPLATE_SUPPLY  NS,
            TM_COMPANY          TC
        WHERE
            NS.COMPANY_ID = TC.COMPANY_ID(+)

        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND NS.COMPANY_ID = #{COMPANY_ID}
        </if>
        ORDER BY NS.SUPPLY_DT DESC
    </select>
    
	<!-- 번호판 최초조회 -->
	<select id="selectAvailableNumplateList"
	        parameterType="java.util.HashMap"
	        resultType="java.lang.String">
	
	    SELECT CAR_NO
	    FROM (
	        SELECT CAR_NO
	        FROM (
	            SELECT
	                CAR_NO,
	                SUBSTR(CAR_NO, -1) AS LAST_DIGIT,
	
	                ROW_NUMBER() OVER (
	                    PARTITION BY SUBSTR(CAR_NO, -1)
	                    ORDER BY DBMS_RANDOM.VALUE
	                ) AS RN
	
	            FROM TM_NUMPLATE_LIST
	
	            WHERE USE_YN = 'N'
	              AND PROC_ST IN ('M_END', 'S_REQ', 'S_ING', 'S_END')
	
	              AND SUBSTR(CAR_NO, 3, 1) NOT IN ('하', '허', '호')
	              AND SUBSTR(CAR_NO, 4, 1) NOT IN ('하', '허', '호')
	
	              AND GOVT_ID = #{GOVT_ID}
	              AND NUM_KIND = #{NUM_KIND}
	              AND HOLE_YN = #{HOLE_YN}
	              AND SEAL_YN = #{SEAL_YN}
	
	              AND SPECIAL_YN = 'Y'
	
	              AND CAR_NO LIKE '%' || #{WANT_CAR_NO} || '%'
	
	              AND ASSIGN_CD LIKE '%' || #{ASSIGN_CD}
	                    || DECODE(
	                        SUBSTR(ASSIGN_CD, 1, 4),
	                        'BITS', '',
	                        '%'
	                    )
	
	              AND SUBSTR(CAR_NO, 1, 2) <![CDATA[ >= ]]>
	                    DECODE(
	                        #{CAR_KD},
	                        '70', '01',
	                        '80', '70',
	                        '97', '80'
	                    )
	
	              AND SUBSTR(CAR_NO, 1, 2) <![CDATA[ < ]]>
	                    DECODE(
	                        #{CAR_KD},
	                        '97', '98',
	                        #{CAR_KD}
	                    )
	
	              AND (
	                    #{CONDITION} = 'NOT'
	                    OR (
	                        LENGTH(#{CONDITION}) = 2
	                        AND REGEXP_LIKE(
	                            #{CONDITION},
	                            '^[0-9]{2}$'
	                        )
	                        AND SUBSTR(CAR_NO, -1)
	                            = SUBSTR(#{CONDITION}, 2, 1)
	                    )
	              )
	
	              <!-- 이미 세션에 저장된 번호판 제외 -->
	              <if test="NUM_LIST != null and NUM_LIST.size() > 0">
	                  AND CAR_NO NOT IN
	                  <foreach collection="NUM_LIST" item="carNo"
	                   			open="(" separator="," close=")">
	                      #{carNo}
	                  </foreach>
	              </if>
	        )
	
	        WHERE RN <![CDATA[ <= ]]>
	            CASE LAST_DIGIT
				    WHEN '0' THEN 2 - NVL(#{LAST_COUNT_0}, 0)
				    WHEN '1' THEN 2 - NVL(#{LAST_COUNT_1}, 0)
				    WHEN '2' THEN 2 - NVL(#{LAST_COUNT_2}, 0)
				    WHEN '3' THEN 2 - NVL(#{LAST_COUNT_3}, 0)
				    WHEN '4' THEN 2 - NVL(#{LAST_COUNT_4}, 0)
				    WHEN '5' THEN 2 - NVL(#{LAST_COUNT_5}, 0)
				    WHEN '6' THEN 2 - NVL(#{LAST_COUNT_6}, 0)
				    WHEN '7' THEN 2 - NVL(#{LAST_COUNT_7}, 0)
				    WHEN '8' THEN 2 - NVL(#{LAST_COUNT_8}, 0)
				    WHEN '9' THEN 2 - NVL(#{LAST_COUNT_9}, 0)
				    ELSE 0
				END
	
	        ORDER BY DBMS_RANDOM.VALUE
	    )
	
	    WHERE ROWNUM <![CDATA[ <= ]]> #{LIMIT}
	
	</select>
	
	<!-- 세션에 저장된 번호판 재조회 -->
	<select id="selectSessionNumplateList"
	        parameterType="java.util.HashMap"
	        resultType="java.lang.String">
	
	    SELECT CAR_NO
	    FROM (
	        SELECT CAR_NO
	        FROM TM_NUMPLATE_LIST
	        WHERE USE_YN = 'N'
	          AND CAR_NO IN
	          <foreach collection="NUM_LIST"
	                   item="carNo"
	                   open="("
	                   separator=","
	                   close=")">
	              #{carNo}
	          </foreach>
	
	          AND (
	              #{CONDITION} = 'NOT'
	              OR (
	                  LENGTH(#{CONDITION}) = 2
	                  AND REGEXP_LIKE(#{CONDITION}, '^[0-9]{2}$')
	                  AND SUBSTR(CAR_NO, -1) = SUBSTR(#{CONDITION}, 2, 1)
	              )
	          )
	
	        ORDER BY DBMS_RANDOM.VALUE
	    )
	    WHERE ROWNUM &lt;= #{LIMIT}
	
	</select>
	
	<!-- 표시중(P) 처리 -->
	<update id="updateNumplateAppear"
        parameterType="java.util.HashMap">
	
	    UPDATE TM_NUMPLATE_LIST
	       SET USE_YN = 'P',
	           APPEAR_DT = SYSDATE
	     WHERE USE_YN = 'N'
	       AND CAR_NO IN
	       <foreach collection="NUM_LIST"
	                item="carNo"
	                open="("
	                separator=","
	                close=")">
	           #{carNo}
	       </foreach>
	
	</update>
	
	<!-- 미사용으로 원복 -->
	<update id="releaseNumplateList"
        parameterType="java.util.HashMap">
	
	    UPDATE TM_NUMPLATE_LIST
	       SET USE_YN = 'N'
	     WHERE USE_YN = 'P'
	       AND CAR_NO IN
	       <foreach collection="NUM_LIST"
	                item="carNo"
	                open="("
	                separator=","
	                close=")">
	           #{carNo}
	       </foreach>
	
	</update>
    
	<!-- 번호판 상태 변경 -->
	<update id="updateNumplateUseYn" parameterType="java.util.Map">
	
	    UPDATE TM_NUMPLATE_LIST
	       SET USE_YN = #{USE_YN}
	       
		<if test='"N".equals(USE_YN)'>
	        , SERVICE_ID = NULL
	        , UPD_USER = #{LOGIN_ID}
	        , USE_DT = NULL
	    </if>
	    <if test='"S".equals(USE_YN)'>
	        , SERVICE_ID = #{SERVICE_ID}
	        , CARID_NO = #{CARID_NO}
	        , UPD_USER = #{LOGIN_ID}
	        , UPD_DATE = SYSDATE
	    </if>
		
	     WHERE CAR_NO = #{CAR_NO}
	
	</update>

    <!--
      모바일 번호판 처리목록.
      기존 JSP와 같은 결과를 유지하기 위해 명의이전·변경·신규등록 세 업무를 UNION ALL로 합친다.
      TEL_NO는 화면 입력이 아니라 로그인 세션의 담당자 휴대폰 번호이다.
    -->
<select id="getProcessList" parameterType="map"
        resultType="map">
        SELECT TS.SERVICE_ID AS SERVICE_ID, TC.CAR_NO AS CAR_NO, TC.POST_CAR_NO AS POST_CAR_NO, TS.COMPANY_ID,
               TB.BUY_NM AS BUY_NM, TS.PROC_ST AS PROC_ST,
               TO_CHAR(TL.EXPIRE_DT + 14,'YYYY-MM-DD') AS EXPIRE_DT,
               TNI.IMAGE1 AS IMAGE1, TNI.IMAGE2 AS IMAGE2,
               TNI.IMAGE3 AS IMAGE3, TNI.IMAGE4 AS IMAGE4,
               TNI.IMAGE1_PATH AS IMAGE1_PATH,
                  TNI.IMAGE2_PATH AS IMAGE2_PATH,
               TNI.IMAGE3_PATH AS IMAGE3_PATH,
               TNI.IMAGE4_PATH AS IMAGE4_PATH,
               TNI.IMAGE6_PATH AS IMAGE6_PATH,
               TNI.IMAGE_PATH_YN AS IMAGE_PATH_YN,
               TT.CARD_YN AS CARD_YN,
               TT.CARD_PAY_YN AS CARD_PAY_YN,
               TO_CHAR(TC.INSTALL_DT, 'YY/MM/DD') AS INSTALL_DT,
               NVL2(TC.INSTALL_TM,SUBSTR(TC.INSTALL_TM,0,2)||':'|| SUBSTR(TC.INSTALL_TM,-1)||'0','')AS INSTALL_TM,
               SUBSTR (pkg_common.fn_decrypt (LAST_DELIVERY_ADDR), 1, INSTR (pkg_common.fn_decrypt (LAST_DELIVERY_ADDR), ' ', 1, 2) - 1) AS LAST_DELIVERY_ADDR, TC.TASK_CD AS NUM_GB, TT.ETC5
            FROM TM_NUM_MANAGER NM, TR_TRNSNAME TT, TR_TRNSNAME_BUY TB, TR_TRNSNAME_SELL TL, TR_CARNO_DETACH TC, TR_SERVICE TS, TR_NUMPLATE_IMAGES TNI, TM_CODE CD
         WHERE SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(NM.TEL_NO),'-',''),-8) = SUBSTR(REPLACE(#{TEL_NO},'-',''),-8)
           AND NM.MANAGER_NM = TC.INSTALL_NM
           AND TS.SERVICE_ID = TC.SERVICE_ID
           AND TS.SERVICE_ID = TT.SERVICE_ID
           AND TS.SERVICE_ID = TC.SERVICE_ID
           AND TS.SERVICE_ID = TB.SERVICE_ID
           AND TS.SERVICE_ID = TL.SERVICE_ID
           AND TS.SERVICE_ID = TNI.SERVICE_ID(+)
           AND CD.GROUP_ID = 'TPRST'
           AND TS.PROC_ST = CD.CODE_ID
           AND TC.FILENAME1 IS NULL
           AND (TC.ETC2 != 'Y' OR TC.ETC2 IS NULL)
           AND TS.REQUEST_DT >= SYSDATE - 60
           AND SUBSTR (PKG_COMMON.FN_DECRYPT (NM.TEL_NO), -8) = SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(TC.INSTALL_TEL_NO),'-',''),-8)
           AND 1 = NVL2(
                       TNI.IMAGE4,
                         CASE
                            WHEN ((TT.TASK_CD= 'UTRNS' OR TT.TASK_CD = 'RTRNS') AND (TNI.IMAGE6 IS NULL AND TNI.IMAGE6_PATH IS NULL))
                                THEN 1
                            WHEN TC.READY_YN = 'Y'
                                THEN 1
                            ELSE 0
                         END,
                         CASE
                            WHEN INSTR('|N_INS|N_DLV|N_REQ|S_REQ|S_END|J_REQ|J_ING|J_WTX|J_END|D_REQ|D_ING|D_END|D_DAC|D_MAN|D_PAY|D_PAM|D_CON|RET|END|', '|' ||PROC_ST|| '|') > 0
                            THEN 1
                            ELSE 0
                         END)
           AND 1 = NVL2(
                       TNI.IMAGE4_PATH,
                         CASE
                            WHEN ((TT.TASK_CD= 'UTRNS' OR TT.TASK_CD = 'RTRNS') AND TNI.IMAGE6_PATH IS NULL)
                                THEN 1
                            WHEN TC.READY_YN = 'Y'
                                THEN 1
                            ELSE 0
                         END,
                         CASE
                            WHEN INSTR('|N_INS|N_DLV|N_REQ|S_REQ|S_END|J_REQ|J_ING|J_WTX|J_END|D_REQ|D_ING|D_END|D_DAC|D_MAN|D_PAY|D_PAM|D_CON|RET|END|', '|' ||PROC_ST|| '|') > 0
                            THEN 1
                            ELSE 0
                         END)
           AND TS.PROC_ST != 'T_CAN'
           AND ((TS.COMPANY_ID = 'CB407' AND TS.PROC_ST IN ('S_REQ', 'N_DLV'))
                       OR (TS.COMPANY_ID <![CDATA[<>]]> 'CB407'))
          <if test="TODAY!=null and !TODAY.equals('')">
           AND ((TC.INSTALL_DT IS NOT NULL AND TC.INSTALL_TM IS NOT NULL) OR (TS.COMPANY_ID = 'CB407' AND TS.PROC_ST = 'N_DLV'))
           </if>
           <if test="'BUY_NM'.equals(cOPTION)">
           AND TB.BUY_NM LIKE  '%' || #{CONDITION} || '%'
           </if>
           <if test="'CAR_NO'.equals(cOPTION)">
           AND (TS.CAR_NO LIKE  '%' || #{CONDITION} || '%'  or TC.POST_CAR_NO LIKE  '%' ||  #{CONDITION} || '%')
           </if>
    UNION ALL
        SELECT TS.SERVICE_ID AS SERVICE_ID, TC.CAR_NO AS CAR_NO, TC.POST_CAR_NO AS POST_CAR_NO, TS.COMPANY_ID,
               TM.BUY_NM AS BUY_NM, TS.PROC_ST AS PROC_ST,
               '' AS EXPIRE_DT,
               TNI.IMAGE1 AS IMAGE1, TNI.IMAGE2 AS IMAGE2,
               TNI.IMAGE3 AS IMAGE3, TNI.IMAGE4 AS IMAGE4,
                  TNI.IMAGE1_PATH AS IMAGE1_PATH,
                  TNI.IMAGE2_PATH AS IMAGE2_PATH,
               TNI.IMAGE3_PATH AS IMAGE3_PATH,
               TNI.IMAGE4_PATH AS IMAGE4_PATH,
               TNI.IMAGE6_PATH AS IMAGE6_PATH,
               TNI.IMAGE_PATH_YN AS IMAGE_PATH_YN,
               '' AS CARD_YN,
               '' AS CARD_PAY_YN,
               TO_CHAR(TC.INSTALL_DT, 'YY/MM/DD') AS INSTALL_DT,
               NVL2(TC.INSTALL_TM,SUBSTR(TC.INSTALL_TM,0,2)||':'|| SUBSTR(TC.INSTALL_TM,-1)||'0','')AS INSTALL_TM,
               SUBSTR (pkg_common.fn_decrypt (LAST_DELIVERY_ADDR), 1, INSTR (pkg_common.fn_decrypt (LAST_DELIVERY_ADDR), ' ', 1, 2) - 1) AS LAST_DELIVERY_ADDR, TC.TASK_CD AS NUM_GB, DECODE(TM.MDF_GB, 'BNUM', 'Y', '') AS ETC5
            FROM TM_NUM_MANAGER NM, TR_MODIFY TM, TR_CARNO_DETACH TC, TR_SERVICE TS, TR_NUMPLATE_IMAGES TNI, TM_CODE CD
         WHERE SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(NM.TEL_NO),'-',''),-8) = SUBSTR(REPLACE(#{TEL_NO},'-',''),-8)
           AND NM.MANAGER_NM = TC.INSTALL_NM
           AND TS.SERVICE_ID = TC.SERVICE_ID
           AND TS.SERVICE_ID = TM.SERVICE_ID
           AND TS.SERVICE_ID = TNI.SERVICE_ID(+)
           AND CD.GROUP_ID = 'TPRST'
           AND TS.PROC_ST = CD.CODE_ID
           AND TC.FILENAME1 IS NULL
           AND (TC.ETC2 != 'Y' OR TC.ETC2 IS NULL)
           AND TS.REQUEST_DT >= SYSDATE - 60
           AND SUBSTR (PKG_COMMON.FN_DECRYPT (NM.TEL_NO), -8) = SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(TC.INSTALL_TEL_NO),'-',''),-8)
           AND 1 = NVL2(TNI.IMAGE4, 0, CASE WHEN INSTR('|N_INS|N_DLV|N_REQ|S_REQ|S_END|J_REQ|J_ING|J_WTX|J_END|D_REQ|D_ING|D_END|D_DAC|D_MAN|D_PAY|D_PAM|D_CON|RET|END|', '|' ||PROC_ST|| '|') > 0 THEN 1 ELSE 0  END)
           AND 1 = NVL2(TNI.IMAGE4_PATH, 0, CASE WHEN INSTR('|N_INS|N_DLV|N_REQ|S_REQ|S_END|J_REQ|J_ING|J_WTX|J_END|D_REQ|D_ING|D_END|D_DAC|D_MAN|D_PAY|D_PAM|D_CON|RET|END|', '|' ||PROC_ST|| '|') > 0 THEN 1 ELSE 0  END)
           AND TS.PROC_ST != 'T_CAN'
           AND ((TS.COMPANY_ID = 'CB407' AND TS.PROC_ST IN ('S_REQ', 'N_DLV'))
                       OR (TS.COMPANY_ID <![CDATA[<>]]> 'CB407'))
          <if test="TODAY!=null and !TODAY.equals('')">
           AND ((TC.INSTALL_DT IS NOT NULL AND TC.INSTALL_TM IS NOT NULL) OR (TS.COMPANY_ID = 'CB407' AND TS.PROC_ST = 'N_DLV'))
           </if>
           <if test="'BUY_NM'.equals(cOPTION)">
           AND TM.BUY_NM LIKE  '%' || #{CONDITION} || '%'
           </if>
           <if test="'CAR_NO'.equals(cOPTION)">
           AND (TS.CAR_NO LIKE  '%' || #{CONDITION} || '%'  or TC.POST_CAR_NO LIKE  '%' ||  #{CONDITION} || '%')
           </if>
    UNION ALL
        SELECT TS.SERVICE_ID AS SERVICE_ID, '회수대상X' AS CAR_NO, TN.REQ_CAR_NO AS POST_CAR_NO, TS.COMPANY_ID,
            (SELECT COMPANY_NM FROM TM_COMPANY WHERE COMPANY_ID = TS.COMPANY_ID) AS BUY_NM, TS.PROC_ST AS PROC_ST,
            TO_CHAR(TRUNC(SYSDATE), 'YYYY-MM-DD') AS EXPIRE_DT,
            TNI.IMAGE1 AS IMAGE1, TNI.IMAGE2 AS IMAGE2,
            TNI.IMAGE3 AS IMAGE3, TNI.IMAGE4 AS IMAGE4,
            TNI.IMAGE1_PATH AS IMAGE1_PATH,
                TNI.IMAGE2_PATH AS IMAGE2_PATH,
            TNI.IMAGE3_PATH AS IMAGE3_PATH,
            TNI.IMAGE4_PATH AS IMAGE4_PATH,
            TNI.IMAGE6_PATH AS IMAGE6_PATH,
            TNI.IMAGE_PATH_YN AS IMAGE_PATH_YN,
            TN.CARD_YN AS CARD_YN,
            TN.CARD_PAY_YN AS CARD_PAY_YN,
            TO_CHAR(TRUNC(SYSDATE), 'YY/MM/DD') AS INSTALL_DT,
            '' AS INSTALL_TM,
            (SELECT CODE_NM FROM TM_CODE WHERE GROUP_ID = 'DLVGB' AND CODE_ID = TC.DELIVERY_GB) AS LAST_DELIVERY_ADDR,
            TC.TASK_CD AS NUM_GB, '' as ETC5
        FROM TM_NUM_MANAGER NM, TR_NEWCAR TN, TR_CARNO_DETACH TC, TR_SERVICE TS, TR_NUMPLATE_IMAGES TNI, TM_CODE CD
        WHERE SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(NM.TEL_NO),'-',''),-8) = SUBSTR(REPLACE(#{TEL_NO},'-',''),-8)
            AND NM.MANAGER_NM = TC.INSTALL_NM
            AND TS.SERVICE_ID = TC.SERVICE_ID
            AND TS.SERVICE_ID = TN.SERVICE_ID
            AND TS.SERVICE_ID = TNI.SERVICE_ID(+)
            AND CD.GROUP_ID = 'TPRST'
            AND TS.PROC_ST = CD.CODE_ID
            AND TC.FILENAME1 IS NULL
            AND (TC.ETC2 != 'Y' OR TC.ETC2 IS NULL)
            AND TS.REQUEST_DT >= SYSDATE - 60
            AND (TC.INSTALL_YN IS NULL OR TC.INSTALL_YN != 'Y')
            AND SUBSTR(PKG_COMMON.FN_DECRYPT(NM.TEL_NO), -8)
                = SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(TC.INSTALL_TEL_NO), '-', ''), -8)
            AND TS.PROC_ST NOT IN ('T_CAN', 'DEL')

            AND (
                TRUNC(TN.REGIST_DATE) = TRUNC(SYSDATE)
                OR TRUNC(TN.REGIST_DATE) &lt; TRUNC(SYSDATE)
                OR TRUNC(SYSDATE) = (
                    SELECT MAX(TRUNC(TN.REGIST_DATE) - D.DAY_OFFSET)
                    FROM (
                        SELECT LEVEL AS DAY_OFFSET
                        FROM DUAL
                        CONNECT BY LEVEL <![CDATA[<=]]> 31
                    ) D
                    WHERE (TRUNC(TN.REGIST_DATE) - D.DAY_OFFSET
                           - TRUNC(TRUNC(TN.REGIST_DATE) - D.DAY_OFFSET, 'IW')) BETWEEN 0 AND 4
                      AND INSTR(
                            ',' || NVL((
                                SELECT REPLACE(H.DETAIL_NM, ' ', '')
                                FROM TM_CODE H
                                WHERE H.GROUP_ID = 'ETC..'
                                  AND H.CODE_ID = 'HOLID'
                                  AND ROWNUM = 1
                            ), '') || ',',
                            ',' || TO_CHAR(TRUNC(TN.REGIST_DATE) - D.DAY_OFFSET, 'YYYYMMDD') || ','
                          ) = 0
                )
            )
          <if test="TODAY!=null and !TODAY.equals('')">
           AND ((TC.INSTALL_DT IS NOT NULL AND TC.INSTALL_TM IS NOT NULL) OR (TS.COMPANY_ID = 'CB407' AND TS.PROC_ST = 'N_DLV'))
           </if>
           <if test="'BUY_NM'.equals(cOPTION)">
           AND TN.OWNER_NM LIKE  '%' || #{CONDITION} || '%'
           </if>
           <if test="'CAR_NO'.equals(cOPTION)">
           AND (TS.CAR_NO LIKE  '%' || #{CONDITION} || '%'  or TC.POST_CAR_NO LIKE  '%' ||  #{CONDITION} || '%')
           </if>
           ORDER BY INSTALL_DT NULLS FIRST, INSTALL_TM NULLS FIRST
           <if test="TODAY!=null and !TODAY.equals('')">
           , INSTALL_DT ASC, INSTALL_TM ASC
           </if>

    </select>

    <!-- 처리 상세 및 결과조회: 접수번호와 로그인한 탈부착 담당자 휴대폰이 모두 일치한 건만 반환 -->
    <select id="getProcessDetail" parameterType="map" resultType="map">
        SELECT TS.SERVICE_ID,
               TS.COMPANY_ID,
               TS.PROC_ST,
               NVL((SELECT MAX(CD.CODE_NM) FROM TM_CODE CD
                     WHERE CD.GROUP_ID = 'TPRST' AND CD.CODE_ID = TS.PROC_ST), TS.PROC_ST) AS PROC_ST_NM,
               TS.GOVT_ID,
               NVL((SELECT MAX(CD.CODE_NM) FROM TM_CODE CD
                     WHERE CD.GROUP_ID = 'GOVT' AND CD.CODE_ID = TS.GOVT_ID), TS.GOVT_ID) AS GOVT_ID_K,
               TS.AUTO_YN,
               NVL(TN.CAR_NO, NVL(TM.CAR_NO, NC.CAR_NO)) AS CAR_NO,
               TC.POST_CAR_NO,
               NVL(TN.CAR_NM, NVL(TM.CAR_NM, NC.CAR_NM)) AS CAR_NAME,
               NVL(TN.COLOR_GB, TM.COLOR_GB) AS COLOR_GB,
               NVL(TN.MADE_YY, NVL(TM.MADE_YY, NC.MADE_YY)) AS MADE_YY,
               NVL(TB.BUY_NM, NVL(TM.BUY_NM, NC.OWNER_NM)) AS BUY_NM,
               PKG_COMMON.FN_DECRYPT(TC.RECEIVE_TEL_NO) AS TEL_NO,
               PKG_COMMON.FN_DECRYPT(TC.LAST_DELIVERY_ADDR) AS LAST_DELIVERY_ADDR,
               TO_CHAR(TC.INSTALL_DT, 'YYYY-MM-DD') AS INSTALL_DT,
               SUBSTR(TC.INSTALL_TM, 1, 2) AS INSTALL_TIME,
               SUBSTR(TC.INSTALL_TM, 3, 1) || '0' AS INSTALL_MINUTES,
               TC.MEMO_TX,
               TC.NUM_MEMO_TX,
               TC.INSTALL_NM,
               TC.TASK_CD AS NUM_KIND,
               TC.SEAL_YN,
               TC.INSTALL_YN,
               NVL(TN.BOND_YN, NVL(TM.BOND_YN, NC.BOND_YN)) AS BOND_YN,
               NVL((SELECT MAX(CD.CODE_NM) FROM TM_CODE CD
                     WHERE CD.GROUP_ID = 'NSUBP'
                       AND CD.CODE_ID = NVL(TN.BOND_YN, NVL(TM.BOND_YN, NC.BOND_YN))), '선택안함') AS BOND_NM,
               NVL(TN.RUN_KM, 0) AS RUN_KM,
               DECODE(NVL(TN.ETC5, DECODE(TM.MDF_GB, 'BNUM', 'Y', '')), 'Y', 'Y', '') AS ETC5,
               NVL(TN.CARD_YN, '') AS CARD_YN,
               NVL(TN.CARD_PAY_YN, '') AS CARD_PAY_YN,
               NVL(TN.MEMO_TX, TM.MEMO_TX) AS TN_MEMO_TX,
               PKG_COMMON.FN_DECRYPT(TB.CARP_ADDRESS) || ' '
                   || PKG_COMMON.FN_DECRYPT(TB.CARP_ADDRESS_DT) AS CARP_ADDRESS,
               TO_CHAR(TC.INSU_START_DT, 'YYYY-MM-DD') AS INSU_START_DT
          FROM TR_SERVICE TS
          JOIN TR_CARNO_DETACH TC ON TC.SERVICE_ID = TS.SERVICE_ID
          LEFT JOIN TR_TRNSNAME TN ON TN.SERVICE_ID = TS.SERVICE_ID
          LEFT JOIN TR_TRNSNAME_BUY TB ON TB.SERVICE_ID = TS.SERVICE_ID
          LEFT JOIN TR_MODIFY TM ON TM.SERVICE_ID = TS.SERVICE_ID
          LEFT JOIN TR_NEWCAR NC ON NC.SERVICE_ID = TS.SERVICE_ID
         WHERE TS.SERVICE_ID = #{SERVICE_ID}
           AND EXISTS (
               SELECT 1
                 FROM TM_NUM_MANAGER NM
                WHERE NM.MANAGER_NM = TC.INSTALL_NM
                  AND SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(NM.TEL_NO), '-', ''), -8)
                      = SUBSTR(REPLACE(#{TEL_NO}, '-', ''), -8)
                  AND SUBSTR(REPLACE(PKG_COMMON.FN_DECRYPT(TC.INSTALL_TEL_NO), '-', ''), -8)
                      = SUBSTR(REPLACE(#{TEL_NO}, '-', ''), -8)
           )
    </select>

    <!-- 심사요청 전에 담당자 메모와 필요한 경우 방문일정을 먼저 저장한다. -->
    <update id="updateProcessInput" parameterType="map">
        UPDATE TR_CARNO_DETACH
           SET NUM_MEMO_TX = #{NUM_MEMO_TX},
               UPD_DATE = SYSDATE
        <if test="INSTALL_DT != null and INSTALL_DT != ''">
             , INSTALL_DT = TO_DATE(#{INSTALL_DT}, 'YYYY-MM-DD')
             , INSTALL_TM = #{INSTALL_TM}
        </if>
         WHERE SERVICE_ID = #{SERVICE_ID}
    </update>

    <!-- 허용된 기존 상태만 S_REQ로 변경해 중복 제출과 잘못된 상태 전이를 막는다. -->
    <update id="requestReview" parameterType="map">
        UPDATE TR_SERVICE
           SET AUTO_YN = 'N',
               PROC_ST = 'S_REQ',
               JUDGE_ST = 'S_REQ',
               UPD_DATE = SYSDATE
         WHERE SERVICE_ID = #{SERVICE_ID}
           AND PROC_ST IN ('N_REQ', 'N_INS', 'N_DLV',
               '번호판처리요청', '번호판발송요청', '번호판탈부착요청', '배송요청', '사무실배송요청')
    </update>

    <!-- N 접수 배송 건은 심사 상태 대신 탈부착 테이블의 완료 여부를 변경한다. -->
    <update id="completeDelivery" parameterType="map">
        UPDATE TR_CARNO_DETACH
           SET INSTALL_YN = 'Y',
               UPD_DATE = SYSDATE
         WHERE SERVICE_ID = #{SERVICE_ID}
           AND (INSTALL_YN IS NULL OR INSTALL_YN != 'Y')
    </update>

</mapper>
