<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.payment.mapper.PaymentMapper">

    <!-- WA 납부현황 조회: 신규등록 전용 -->
    <select id="getWaPayInfoList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            ROW_NUMBER() OVER (ORDER BY NVL(TS.PROC_DT, TS.REQUEST_DT) DESC, TS.SERVICE_ID DESC) AS SEQ,
            TS.WORK_CD,
            TS.SERVICE_ID,
            TS.LINK_ID,
            NVL(TS.CAR_NO, TN.CAR_NO) AS CAR_NO,
            TS.PROC_ST,
            CASE
                WHEN NVL(TN.DIRECT_YN, 'N') = 'Y' THEN 'DIRCT'
                WHEN TS.PROC_ST IN ('C_REQ', 'REQ') THEN 'REQ'
                WHEN TS.PROC_ST IN ('INPUT', 'SAV') THEN 'SAV'
                WHEN TS.PROC_ST = 'W_REQ' THEN 'W_REQ'
                WHEN TS.PROC_ST IN ('B_REQ', 'P_REQ') THEN 'P_REQ'
                WHEN TS.PROC_ST = 'PREND' THEN 'PREND'
                WHEN TS.PROC_ST = 'PBEND' THEN 'PBEND'
                WHEN TS.PROC_ST = 'P_END' THEN 'P_END'
                WHEN TS.PROC_ST IN ('S_REQ', 'S_END', 'J_REQ', 'J_ING', 'D_MAN', 'D_PAM', 'D_DAC') THEN 'S_REQ'
                WHEN TS.PROC_ST IN ('J_END', 'J_WTX', 'D_REQ', 'D_ING', 'D_END', 'D_CON', 'D_DLY', 'D_PAY', 'END') THEN 'S_END'
                WHEN TS.PROC_ST IN ('RET', 'REJECT') THEN 'RET'
                ELSE TS.PROC_ST
            END AS NPROC_ST,
            NVL(TN.DIRECT_YN, 'N') AS DIRECT_YN,
            TN.PAY_ST,
            NVL(TN.BPAY_YN, 'N') AS BPAY_YN,
            CASE
                WHEN NVL(TN.PAY_ST, 'N') = 'Y' AND NVL(TN.BPAY_YN, 'N') = 'Y' THEN '납부'
                WHEN NVL(TN.PAY_ST, 'N') = 'Y' AND NVL(TN.BPAY_YN, 'N') = 'N' THEN '등록비용 납부'
                WHEN NVL(TN.PAY_ST, 'N') = 'N' AND NVL(TN.BPAY_YN, 'N') = 'Y' THEN '차량대금 납부'
                ELSE '미납'
            END AS PAY_STATUS_NM,
            TN.PAY_ME,
            TO_CHAR(TS.REQUEST_DT, 'YYYYMMDD') AS REQUEST_DT,
            NVL(TS.PROC_DT, TS.REQUEST_DT) AS SORT_DT,
            TO_CHAR(TS.JUDGE_DT, 'YYYYMMDD') AS JUDGE_DT,
            TO_CHAR(TN.PAY_DT, 'YYYYMMDD') AS PAY_DT,
            TO_CHAR(TN.BPAY_DT, 'YYYYMMDD') AS BPAY_DT,
            TO_CHAR(TN.REGIST_DATE, 'YYYYMMDD') AS REGIST_DT,
            TN.VBANK_NO,
            TN.TOTAL_AMT,
            NVL(TMD.MEMBER_NM, '다코스대행') AS MEMBER_NM,
            TB.BRANCH_NM,
            TS.MEMBER_ID,
            TC.COMPANY_NM,
            TN.OWNER_NM AS REQUEST_NM,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'FEE') AS FEE_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'STAMP') AS STAMP_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG') AS REGIS_AMT,
            (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ') AS EPAY_NO,
            (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG') AS UREG_EPAY_NO,
            (SELECT PRE_PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ') AS PRE_ACQ_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ') AS ACQ_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'INJI') AS INJI_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BOND') AS BOND_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BFEE') AS BFEE_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TMAN') AS TMAN_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TPROX') AS TPROX_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TNUM') AS NUMP_AMT,
            (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UNUM') AS NUMP_PROXY_AMT,
            (SELECT CONFIRM_NO FROM TR_DSIGN WHERE SERVICE_ID = TS.SERVICE_ID AND DSIGN_SEQ = 1) AS CONFIRM_NO,
            '' AS DSIGN_GB,
            TS.GOVT_ID,
            TN.BOND_DC AS PAY_TP,
            TN.CARID_NO,
            TN.INJI_NO,
            TN.OWNER_NM AS CU_NAME,
            DECODE(TN.REG_GB, 'R', '1', 'F', '1', '2') AS REG_GB,
            DECODE(TN.REG_GB, 'R', SUBSTR(PKG_COMMON.FN_DECRYPT(TN.REG_NO), 1, 6), 'F', SUBSTR(PKG_COMMON.FN_DECRYPT(TN.REG_NO), 1, 6), PKG_COMMON.FN_DECRYPT(TN.REG_NO)) AS REG_NO,
            TN.CAR_NM,
            TN.GOVT_TX,
            0 AS MORT_COUNT,
            PKG_COMMON.FN_DECRYPT(TN.BASE_ADDRESS) AS BASE_ADDRESS,
            (SELECT SUM(PAY_AMT) FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD IN ('FEE', 'BOND', 'BFEE', 'TNUM', 'UNUM')) AS ORIX_NEWCAR_AMT,
            TN.TASK_CD,
            TN.PROC_CD,
            TN.REG_GB AS RAW_REG_GB
        FROM TR_SERVICE TS
             JOIN TR_NEWCAR TN ON TN.SERVICE_ID = TS.SERVICE_ID
             LEFT JOIN TM_MEMBER_DT TMD ON TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID AND TS.COMPANY_ID = TMD.COMPANY_ID AND TS.MEMBER_ID = TMD.MEMBER_ID
             JOIN TM_COMPANY TC ON TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
             LEFT JOIN TM_BRANCH TB ON TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID
        WHERE TS.WORK_CD = '010'
          AND TS.PROC_ST &lt;&gt; 'DEL'
        <if test="COMPANY_ID != null and COMPANY_ID != ''">
          AND TS.COMPANY_ID = #{COMPANY_ID}
        </if>
        <choose>
          <when test="COMPANY_ID != null and COMPANY_ID.startsWith('WA')  and (MEMBER_GB == 'BA' or MEMBER_GB == 'SU')">
            AND TS.BRANCH_ID = #{BRANCH_ID}
          </when>
          <otherwise>
            <if test="BRANCH_ID != null and BRANCH_ID != ''">
              AND TS.BRANCH_ID = #{BRANCH_ID}
            </if>
          </otherwise>
        </choose>
        <if test="MEMBER_ID != null and MEMBER_ID != ''">
          AND (TS.MEMBER_ID = #{MEMBER_ID} OR TMD.LOGIN_ID = #{MEMBER_ID})
        </if>
        <if test="CAR_NO != null and CAR_NO != ''">
          AND (
              TN.CARID_NO LIKE '%' || #{CAR_NO} || '%'
              OR TN.CAR_NO LIKE '%' || #{CAR_NO} || '%'
              OR TS.CAR_NO LIKE '%' || #{CAR_NO} || '%'
          )
        </if>
        <if test="PROC_ST != null and PROC_ST != ''">
            <choose>
                <when test="PROC_ST == 'REQ'">
                    AND TS.PROC_ST IN ('C_REQ', 'REQ')
                </when>
                <when test="PROC_ST == 'SAV'">
                    AND TS.PROC_ST IN ('INPUT', 'SAV')
                    AND NVL(TN.DIRECT_YN, 'N') &lt;&gt; 'Y'
                </when>
                <when test="PROC_ST == 'W_REQ'">
                    AND TS.PROC_ST = 'W_REQ'
                </when>
                <when test="PROC_ST == 'P_REQ'">
                    AND TS.PROC_ST IN ('B_REQ', 'P_REQ')
                </when>
                <when test="PROC_ST == 'PREND'">
                    AND TS.PROC_ST = 'PREND'
                </when>
                <when test="PROC_ST == 'PBEND'">
                    AND TS.PROC_ST = 'PBEND'
                </when>
                <when test="PROC_ST == 'P_END'">
                    AND TS.PROC_ST = 'P_END'
                </when>
                <when test="PROC_ST == 'S_REQ'">
                    AND TS.PROC_ST IN ('S_REQ', 'S_END', 'J_REQ', 'J_ING', 'D_MAN', 'D_PAM', 'D_DAC')
                </when>
                <when test="PROC_ST == 'S_END'">
                    AND TS.PROC_ST IN ('J_END', 'J_WTX', 'D_REQ', 'D_ING', 'D_END', 'D_CON', 'D_DLY', 'D_PAY', 'END')
                </when>
                <when test="PROC_ST == 'DIRCT'">
                    AND NVL(TN.DIRECT_YN, 'N') = 'Y'
                </when>
                <when test="PROC_ST == 'RET'">
                    AND TS.PROC_ST IN ('RET', 'REJECT')
                </when>
                <otherwise>
                    AND TS.PROC_ST = #{PROC_ST}
                </otherwise>
            </choose>
        </if>
        <if test="PAY_STATUS != null and PAY_STATUS != ''">
            <choose>
                <when test="PAY_STATUS == 'PAID'">
                    AND NVL(TN.PAY_ST, 'N') = 'Y'
                    AND NVL(TN.BPAY_YN, 'N') = 'Y'
                </when>
                <when test="PAY_STATUS == 'REG_PAID'">
                    AND NVL(TN.PAY_ST, 'N') = 'Y'
                    AND NVL(TN.BPAY_YN, 'N') = 'N'
                </when>
                <when test="PAY_STATUS == 'BPAY_PAID'">
                    AND NVL(TN.PAY_ST, 'N') = 'N'
                    AND NVL(TN.BPAY_YN, 'N') = 'Y'
                </when>
                <when test="PAY_STATUS == 'UNPAID'">
                    AND NVL(TN.PAY_ST, 'N') = 'N'
                    AND NVL(TN.BPAY_YN, 'N') = 'N'
                </when>
            </choose>
        </if>
        <if test="START_DT != null and START_DT != '' and END_DT != null and END_DT != ''">
            <choose>
                <when test="BASE_GUBUN != null and BASE_GUBUN != '' and BASE_GUBUN == 'PROC_DT'">
                    AND TS.PROC_DT BETWEEN TO_DATE(#{START_DT}, 'YYYYMMDD') AND TO_DATE(#{END_DT} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
                </when>
                <otherwise>
                    AND TS.REQUEST_DT BETWEEN TO_DATE(#{START_DT}, 'YYYYMMDD') AND TO_DATE(#{END_DT} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
                </otherwise>
            </choose>
        </if>
        ORDER BY SORT_DT DESC, TS.SERVICE_ID DESC
    </select>

    <!-- WA 납부현황 담당SP 조회 -->
    <select id="getWaPayMemberList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            MEMBER_NM,
            LOGIN_ID
        FROM TM_MEMBER_DT
        WHERE COMPANY_ID = #{COMPANY_ID}
          AND NVL(USE_YN, 'Y') = 'Y'
        <choose>
          <when test="COMPANY_ID != null and COMPANY_ID.startsWith('WA') and (MEMBER_GB == 'BA' or MEMBER_GB == 'SU')">
            AND BRANCH_ID = #{BRANCH_ID}
          </when>
          <otherwise>
            <if test="BRANCH_ID != null and BRANCH_ID != ''">
              AND BRANCH_ID = #{BRANCH_ID}
            </if>
          </otherwise>
        </choose>
        ORDER BY MEMBER_NM, LOGIN_ID
    </select>
    <!-- 납부현황 조회 -->
    <select id="getPayInfoList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
		<choose>
		        <otherwise>
		            /* 1. TR_MORTGAGE (저당권 관련) */
		            SELECT TS.WORK_CD, TS.SERVICE_ID, TM.CAR_NO, TS.PROC_ST, TM.PAY_ST, TM.PAY_ME,
		                   TO_CHAR(TS.REQUEST_DT,'YYYYMMDD') as REQUEST_DT, TS.REQUEST_DT AS SORT_DT,
		                   TO_CHAR(TS.JUDGE_DT,'YYYYMMDD') as JUDGE_DT, TO_CHAR(TM.PAY_DT,'YYYYMMDD') as PAY_DT,
		                   TM.VBANK_NO, TM.TOTAL_AMT, TMD.MEMBER_NM, TB.BRANCH_NM, TS.MEMBER_ID, TC.COMPANY_NM,
		                   DECODE(TS.WORK_CD, '000', TM.MORT_NM, TM.PAY_NM) as REQUEST_NM,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'FEE') FEE_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'STAMP') STAMP_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'REGIS') REGIS_AMT,
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'REGIS') EPAY_NO,
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG') UREG_EPAY_NO,
		                   0 PRE_ACQ_AMT, 0 ACQ_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'INJI') INJI_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BOND') BOND_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BFEE') BFEE_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TMAN') TMAN_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TPROX') TPROX_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TNUM') NUMP_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UNUM') NUMP_PROXY_AMT,
		                   (SELECT CONFIRM_NO FROM TR_MORTGAGE WHERE SERVICE_ID = TS.SERVICE_ID) as CONFIRM_NO,
		                   TM.DSIGN_GB, TS.GOVT_ID, TM.PAY_TP, TCI.CARID_NO, '' AS INJI_NO,
		                   DECODE(TS.WORK_CD, '000', TM.MORT_NM, '001', TM.PAY_NM) as CU_NAME,
		                   DECODE(TS.WORK_CD, '000', '2', '') as REG_GB, 
		                   DECODE(TS.WORK_CD, '000', TC.COMPANY_NO, '') as REG_NO, 
		                   '' as CAR_NM, '' as GOVT_TX,
		                   (SELECT DECODE(COUNT(*), 0, 0, COUNT(*)-1) FROM TR_JOINT WHERE SERVICE_ID = TS.SERVICE_ID) AS MORT_COUNT,
		                   '' as BASE_ADDRESS, 0 ORIX_NEWCAR_AMT, '' as TASK_CD                
		            FROM TR_SERVICE TS, TR_MORTGAGE TM, TM_MEMBER_DT TMD, TM_COMPANY TC, TM_BRANCH TB, TR_CARINFO TCI
		            WHERE TS.SERVICE_ID = TM.SERVICE_ID
		              AND TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID AND TS.COMPANY_ID = TMD.COMPANY_ID AND TS.MEMBER_ID = TMD.MEMBER_ID
		              AND TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
		              AND TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID  
		              AND TS.SERVICE_ID = TCI.SERVICE_ID
		              <if test="PAY_TP != null and PAY_TP != ''"> AND TM.PAY_TP = #{PAY_TP} </if>
		              <if test="PAY_ST != null and PAY_ST != ''"> AND TM.PAY_ST = #{PAY_ST} </if>
		              <include refid="commonWhereSql" />		
		            UNION ALL		
		            /* 2. TR_TRNSNAME (이전등록 관련) */
		            SELECT TS.WORK_CD, TS.SERVICE_ID, TM.CAR_NO, TS.PROC_ST, TM.PAY_ST, TM.PAY_ME,
		                   TO_CHAR(TS.REQUEST_DT, 'YYYYMMDD') as REQUEST_DT, TS.REQUEST_DT AS SORT_DT,
		                   TO_CHAR(TS.JUDGE_DT, 'YYYYMMDD') as JUDGE_DT, TO_CHAR(TM.PAY_DT, 'YYYYMMDD') as PAY_DT,
		                   TM.VBANK_NO, TM.TOTAL_AMT, NVL(TMD.MEMBER_NM, '다코스대행') AS MEMBER_NM,
		                   TB.BRANCH_NM, TS.MEMBER_ID, TC.COMPANY_NM, TNB.BUY_NM as REQUEST_NM,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'FEE') FEE_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'STAMP') STAMP_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG') REGIS_AMT,
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ') EPAY_NO,
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG') UREG_EPAY_NO,
		                   0 PRE_ACQ_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ') ACQ_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'INJI') INJI_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BOND') BOND_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BFEE') BFEE_AMT,  
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'MCHG') TMAN_AMT,  
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TPROX') TPROX_AMT,  
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TNUM') NUMP_AMT,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UNUM') NUMP_PROXY_AMT,  
		                   (SELECT CONFIRM_NO FROM TR_DSIGN WHERE SERVICE_ID = TS.SERVICE_ID AND DSIGN_SEQ = 1) as CONFIRM_NO,
		                   TNS.DSIGN_GB as DSIGN_GB, TS.GOVT_ID, TM.PAY_TP as PAY_TP, TM.CARID_NO, TM.INJI_NO, TNB.BUY_NM as CU_NAME,
		                   DECODE(TNB.REG_GB, 'R', '1', 'F', '1', '2') as REG_GB, 
		                   DECODE(TNB.REG_GB, 'R', SUBSTR(PKG_COMMON.FN_DECRYPT(TNB.REG_NO), 1, 6), 'F', SUBSTR(PKG_COMMON.FN_DECRYPT(TNB.REG_NO), 1, 6), PKG_COMMON.FN_DECRYPT(TNB.REG_NO)) as REG_NO,
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'MCHG') as CAR_NM,
		                   '' as GOVT_TX, 0 AS MORT_COUNT, '' as BASE_ADDRESS, 0 ORIX_NEWCAR_AMT, '' as TASK_CD
		            FROM TR_SERVICE TS, TR_TRNSNAME TM, TR_TRNSNAME_BUY TNB, TR_TRNSNAME_SELL TNS, TM_MEMBER_DT TMD, TM_COMPANY TC, TM_BRANCH TB
		            WHERE TS.SERVICE_ID = TM.SERVICE_ID AND TS.SERVICE_ID = TNB.SERVICE_ID AND TS.SERVICE_ID = TNS.SERVICE_ID  
		              AND TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID(+) AND TS.COMPANY_ID = TMD.COMPANY_ID(+) AND TS.MEMBER_ID = TMD.MEMBER_ID(+)            
		              AND TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
		              AND TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID    
		              <if test="PAY_TP != null and PAY_TP != ''"> AND TM.PAY_TP = #{PAY_TP} </if>
		              <if test="PAY_ST != null and PAY_ST != ''"> AND TM.PAY_ST = #{PAY_ST} </if>		              
		              <include refid="commonWhereSql" />
		              <if test="TASK_CD != null and TASK_CD != ''"> AND TM.TASK_CD = #{TASK_CD} </if>
		
		            <if test="GOVT_ID != null and GOVT_ID != ''">
		            UNION ALL
		            /* 3. TR_CARNO_DETACH (번호판 반납/교체) */
		            SELECT '032', TS.SERVICE_ID, TCD.POST_CAR_NO, TS.PROC_ST, TM.PAY_ST, TM.PAY_ME,
		                   TO_CHAR(TS.REQUEST_DT, 'YYYYMMDD') as REQUEST_DT, TS.REQUEST_DT AS SORT_DT,
		                   TO_CHAR(TS.JUDGE_DT, 'YYYYMMDD') as JUDGE_DT, TO_CHAR(TM.PAY_DT, 'YYYYMMDD') as PAY_DT,
		                   TM.VBANK_NO, TM.TOTAL_AMT, NVL(TMD.MEMBER_NM, '다코스대행'), TB.BRANCH_NM, TS.MEMBER_ID, TC.COMPANY_NM, TNB.BUY_NM,
		                   0, 0, (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'MCHG'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'MCHG'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG'), 0, 0, 0, 0, 0, 0, 0, 0, 0,
		                   (SELECT CONFIRM_NO FROM TR_DSIGN WHERE SERVICE_ID = TS.SERVICE_ID AND DSIGN_SEQ = 1),
		                   TNS.DSIGN_GB, TS.GOVT_ID, TM.PAY_TP, TM.CARID_NO, '', TNB.BUY_NM,
		                   DECODE(TNB.REG_GB, 'R', '1', 'F', '1', '2'), 
		                   DECODE(TNB.REG_GB, 'R', SUBSTR(PKG_COMMON.FN_DECRYPT(TNB.REG_NO), 1, 6), 'F', SUBSTR(PKG_COMMON.FN_DECRYPT(TNB.REG_NO), 1, 6), PKG_COMMON.FN_DECRYPT(TNB.REG_NO)),
		                   '', '', 0, '', 0, ''
		            FROM TR_SERVICE TS, TR_TRNSNAME TM, TR_TRNSNAME_BUY TNB, TR_TRNSNAME_SELL TNS, TM_MEMBER_DT TMD, TM_COMPANY TC, TM_BRANCH TB, TR_CARNO_DETACH TCD
		            WHERE TS.SERVICE_ID = TM.SERVICE_ID AND TS.SERVICE_ID = TNB.SERVICE_ID AND TS.SERVICE_ID = TNS.SERVICE_ID AND TS.SERVICE_ID = TCD.SERVICE_ID
		              AND TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID(+) AND TS.COMPANY_ID = TMD.COMPANY_ID(+) AND TS.MEMBER_ID = TMD.MEMBER_ID(+)            
		              AND TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
		              AND TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID  
		              AND (TM.CAR_NO LIKE '%하%' OR TM.CAR_NO LIKE '%허%' OR TM.CAR_NO LIKE '%호%')      
		              <include refid="commonWhereSql" />
		            </if>		
		            UNION ALL
		            /* 4. TR_MODIFY (변경등록 관련) */
		            SELECT TS.WORK_CD, TS.SERVICE_ID, TM.CAR_NO, TS.PROC_ST, TM.PAY_ST, TM.PAY_ME,
		                   TO_CHAR(TS.REQUEST_DT, 'YYYYMMDD') as REQUEST_DT, TS.REQUEST_DT AS SORT_DT,
		                   TO_CHAR(TS.JUDGE_DT, 'YYYYMMDD') as JUDGE_DT, TO_CHAR(TM.PAY_DT, 'YYYYMMDD') as PAY_DT,
		                   TM.VBANK_NO, TM.TOTAL_AMT, NVL(TMD.MEMBER_NM, '다코스대행'), TB.BRANCH_NM, TS.MEMBER_ID, TC.COMPANY_NM, TM.OWNER_NM,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'FEE'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'STAMP'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'REGIS'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'REGIS'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG'),
		                   0, 0, 0, 0, 0, 0, 0,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TNUM'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UNUM'),
		                   (SELECT CONFIRM_NO FROM TR_DSIGN WHERE SERVICE_ID = TS.SERVICE_ID AND DSIGN_SEQ = 1),
		                   '', TS.GOVT_ID, 'GUN', TM.CARID_NO, '', 
		                   TM.OWNER_NM, DECODE(TM.REG_GB, 'R', '1', 'F', '1', '2'), 
		                   DECODE(TM.REG_GB, 'R', SUBSTR(PKG_COMMON.FN_DECRYPT(TM.REG_NO), 1, 6), 'F', SUBSTR(PKG_COMMON.FN_DECRYPT(TM.REG_NO), 1, 6), PKG_COMMON.FN_DECRYPT(TM.REG_NO)),
		                   '', '', 0, '', 0, ''
		            FROM TR_SERVICE TS, TR_MODIFY TM, TM_MEMBER_DT TMD, TM_COMPANY TC, TM_BRANCH TB
		            WHERE TS.SERVICE_ID = TM.SERVICE_ID AND TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID(+) AND TS.COMPANY_ID = TMD.COMPANY_ID(+) AND TS.MEMBER_ID = TMD.MEMBER_ID(+)            
		              AND TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
		              AND TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID    
		              <if test="PAY_TP != null and PAY_TP != ''"> AND TM.PAY_TP = #{PAY_TP} </if>
		              <if test="PAY_ST != null and PAY_ST != ''"> AND TM.PAY_ST = #{PAY_ST} </if>
		              <include refid="commonWhereSql" />		
		            UNION ALL
		            /* 5. TR_NEWCAR (신규등록 관련) */
		            SELECT TS.WORK_CD, TS.SERVICE_ID, TM.CAR_NO, TS.PROC_ST, TM.PAY_ST, TM.PAY_ME,
		                   TO_CHAR(TS.REQUEST_DT, 'YYYYMMDD') as REQUEST_DT, TS.REQUEST_DT AS SORT_DT,
		                   TO_CHAR(TS.JUDGE_DT, 'YYYYMMDD') as JUDGE_DT, TO_CHAR(TM.PAY_DT, 'YYYYMMDD') as PAY_DT,
		                   TM.VBANK_NO, TM.TOTAL_AMT, NVL(TMD.MEMBER_NM, '다코스대행'), TB.BRANCH_NM, TS.MEMBER_ID, TC.COMPANY_NM, TM.OWNER_NM,
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'FEE'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'STAMP'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ'),
		                   (SELECT VBANK_NO FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UREG'),
		                   (SELECT PRE_PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'ACQ'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'INJI'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BOND'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'BFEE'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TMAN'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TPROX'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'TNUM'),
		                   (SELECT PAY_AMT FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD = 'UNUM'),
		                   (SELECT CONFIRM_NO FROM TR_DSIGN WHERE SERVICE_ID = TS.SERVICE_ID AND DSIGN_SEQ = 1),
		                   '', TS.GOVT_ID, TM.BOND_DC, TM.CARID_NO, TM.INJI_NO, TM.OWNER_NM,
		                   DECODE(TM.REG_GB, 'R', '1', 'F', '1', '2'), 
		                   DECODE(TM.REG_GB, 'R', SUBSTR(PKG_COMMON.FN_DECRYPT(TM.REG_NO), 1, 6), 'F', SUBSTR(PKG_COMMON.FN_DECRYPT(TM.REG_NO), 1, 6), PKG_COMMON.FN_DECRYPT(TM.REG_NO)),
		                   TM.CAR_NM, TM.GOVT_TX, 0, PKG_COMMON.FN_DECRYPT(TM.BASE_ADDRESS),
		                   (SELECT SUM(PAY_AMT) FROM TR_PAYMENT TP WHERE TP.SERVICE_ID = TS.SERVICE_ID AND PAY_KD IN ('FEE','BOND','BFEE','TNUM', 'UNUM')),
		                   TM.TASK_CD
		            FROM TR_SERVICE TS, TR_NEWCAR TM, TM_MEMBER_DT TMD, TM_COMPANY TC, TM_BRANCH TB
		            WHERE TS.SERVICE_ID = TM.SERVICE_ID AND TS.ASSOCIATION_ID = TMD.ASSOCIATION_ID(+) AND TS.COMPANY_ID = TMD.COMPANY_ID(+) AND TS.MEMBER_ID = TMD.MEMBER_ID(+)            
		              AND TS.ASSOCIATION_ID = TC.ASSOCIATION_ID AND TS.COMPANY_ID = TC.COMPANY_ID
		              AND TS.COMPANY_ID = TB.COMPANY_ID AND TS.BRANCH_ID = TB.BRANCH_ID
		              <if test="PAY_ST != null and PAY_ST != ''"> AND TM.PAY_ST = #{PAY_ST} </if>    
		              <include refid="commonWhereSql" />
		              <if test="LOCAL_ID != null and LOCAL_ID != ''">
		                  <choose>
		                      <when test="LOCAL_ID == 'LOCAL'"> AND TM.IMSIGV_CD = #{GOVT_ID} </when>
		                      <otherwise> AND (TM.IMSIGV_CD <![CDATA[<>]]> #{GOVT_ID} OR TM.IMSIGV_CD IS NULL) </otherwise>
		                  </choose>
		              </if>
		        </otherwise>
		    </choose>
		    ORDER BY SORT_DT DESC
		</select>
		
		<sql id="commonWhereSql">
		    <if test="WORK_CD != null and WORK_CD != ''"> AND TS.WORK_CD = #{WORK_CD} </if>
		    <if test="COMPANY_ID != null and COMPANY_ID != ''"> AND TS.COMPANY_ID = #{COMPANY_ID} </if>
		    <if test="BRANCH_ID != null and BRANCH_ID != ''"> AND TS.BRANCH_ID = #{BRANCH_ID} </if>
		    <if test="SANGSA_ID != null and SANGSA_ID != ''"> AND TS.SANGSA_ID = #{SANGSA_ID} </if>
		    <if test="CAR_NO != null and CAR_NO != ''"> AND TS.CAR_NO LIKE '%' || #{CAR_NO} || '%' </if>
		    <if test="USER_NM != null and USER_NM != ''"> AND TMD.MEMBER_NM LIKE '%' || #{USER_NM} || '%' </if>
		    <if test="GOVT_ID != null and GOVT_ID != ''"> AND TS.GOVT_ID = #{GOVT_ID} </if>		    
		    <choose>
		        <when test="PROC_ST != null and PROC_ST != ''"> AND TS.PROC_ST = #{PROC_ST} </when>
		        <otherwise> AND TS.PROC_ST <![CDATA[<>]]> 'DEL' </otherwise>
		    </choose>
		    /* 디버깅용 로그: [${BASE_GUBUN}] */
		    <choose>
		    	<when test="BASE_GUBUN != null and BASE_GUBUN != '' and BASE_GUBUN == 'REQUEST_DT'">
		    		AND TS.REQUEST_DT BETWEEN TO_DATE(#{START_DT}, 'YYYYMMDD') AND TO_DATE(#{END_DT} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
		    	</when>
		    	<when test="BASE_GUBUN != null and BASE_GUBUN != '' and BASE_GUBUN == 'PROC_DT'">
		    		AND TS.PROC_DT BETWEEN TO_DATE(#{START_DT}, 'YYYYMMDD') AND TO_DATE(#{END_DT} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
		    	</when>		    	
		    	<otherwise>AND TS.REQUEST_DT BETWEEN TO_DATE(#{START_DT}, 'YYYYMMDD') AND TO_DATE(#{END_DT} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')</otherwise>
		    </choose>
		</sql>

    <!-- 통합가상계좌 조회 -->
    <select id="getTvbankList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            TV.TVBANK_ID,
            TV.COMPANY_ID,
            TC.COMPANY_NM,
            TV.VBANK_NO,
            TV.USE_YN,
            TV.BALANCE_AMT
        FROM
            TM_TVBANK_MANAGE  TV,
            TM_COMPANY        TC
        WHERE
            TV.COMPANY_ID = TC.COMPANY_ID(+)
        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND TV.COMPANY_ID = #{COMPANY_ID}
        </if>
        ORDER BY TV.COMPANY_ID
    </select>

    <!-- 매출현황 조회 -->
    <select id="getSellingInfoList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            TS.COMPANY_ID,
            TC.COMPANY_NM,
            TS.WORK_CD,
            COUNT(1)         AS TOT_CNT,
            SUM(PM.PAY_AMT)  AS TOT_AMT
        FROM
            TR_PAYMENT  PM,
            TR_SERVICE  TS,
            TM_COMPANY  TC
        WHERE
            PM.SERVICE_ID = TS.SERVICE_ID
            AND TS.COMPANY_ID = TC.COMPANY_ID
            AND PM.PAY_DT BETWEEN
                TO_DATE(#{START_DT} || '00:00:00', 'YYYYMMDDHH24:MI:SS')
                AND TO_DATE(#{END_DT} || '23:59:59', 'YYYYMMDDHH24:MI:SS')
        GROUP BY TS.COMPANY_ID, TC.COMPANY_NM, TS.WORK_CD
        ORDER BY TS.COMPANY_ID, TS.WORK_CD
    </select>

    <!-- 선납금관리 조회 -->
    <select id="getPointList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            PO.POINT_ID,
            PO.COMPANY_ID,
            TC.COMPANY_NM,
            PO.POINT_AMT,
            PO.USE_AMT,
            PO.REMAIN_AMT,
            TO_CHAR(PO.REG_DT, 'YYYYMMDD') AS REG_DT
        FROM
            TM_POINT_MANAGE  PO,
            TM_COMPANY       TC
        WHERE
            PO.COMPANY_ID = TC.COMPANY_ID(+)
        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND PO.COMPANY_ID = #{COMPANY_ID}
        </if>
        ORDER BY PO.REG_DT DESC
    </select>

    <!-- 미납내역관리 조회 -->
    <select id="getNotPayInfoList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            PM.SERVICE_ID,
            TS.COMPANY_ID,
            TC.COMPANY_NM,
            TS.CAR_NO,
            PM.TOTAL_AMT,
            PM.PAY_ST,
            TO_CHAR(TS.REQUEST_DT, 'MM.DD HH24:MI') AS REQUEST_DT
        FROM
            TR_PAYMENT  PM,
            TR_SERVICE  TS,
            TM_COMPANY  TC
        WHERE
            PM.SERVICE_ID = TS.SERVICE_ID
            AND TS.COMPANY_ID = TC.COMPANY_ID
            AND PM.PAY_ST = 'NOTPAY'
            AND TS.REQUEST_DT BETWEEN
                TO_DATE(#{START_DT} || '00:00:00', 'YYYYMMDDHH24:MI:SS')
                AND TO_DATE(#{END_DT} || '23:59:59', 'YYYYMMDDHH24:MI:SS')
        ORDER BY TS.REQUEST_DT DESC
    </select>

    <!-- 환불관리 조회 -->
    <select id="getPayReturnList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            PR.RETURN_ID,
            PR.SERVICE_ID,
            PR.COMPANY_ID,
            TC.COMPANY_NM,
            PR.RETURN_AMT,
            PR.RETURN_ST,
            TO_CHAR(PR.REQ_DT, 'YYYYMMDD') AS REQ_DT
        FROM
            TR_PAY_RETURN  PR,
            TM_COMPANY     TC
        WHERE
            PR.COMPANY_ID = TC.COMPANY_ID(+)
            AND PR.REQ_DT BETWEEN
                TO_DATE(#{START_DT} || '00:00:00', 'YYYYMMDDHH24:MI:SS')
                AND TO_DATE(#{END_DT} || '23:59:59', 'YYYYMMDDHH24:MI:SS')
        ORDER BY PR.REQ_DT DESC
    </select>

    <!-- 인지세관리 조회 -->
    <select id="getInjiseList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            IJ.INJI_ID,
            IJ.SERVICE_ID,
            IJ.COMPANY_ID,
            TC.COMPANY_NM,
            IJ.INJI_AMT,
            IJ.INJI_ST,
            TO_CHAR(IJ.REQ_DT, 'YYYYMMDD') AS REQ_DT
        FROM
            TR_INJISE_MANAGE  IJ,
            TM_COMPANY        TC
        WHERE
            IJ.COMPANY_ID = TC.COMPANY_ID(+)
            AND IJ.REQ_DT BETWEEN
                TO_DATE(#{START_DT} || '00:00:00', 'YYYYMMDDHH24:MI:SS')
                AND TO_DATE(#{END_DT} || '23:59:59', 'YYYYMMDDHH24:MI:SS')
        ORDER BY IJ.REQ_DT DESC
    </select>

    <!-- 종합신청현황 조회 -->
    <select id="getTotalList" parameterType="com.dacos.payment.dto.PaymentSearchRequest"
            resultType="java.util.Map">
        SELECT
            TS.SERVICE_ID,
            TS.WORK_CD,
            TS.CAR_NO,
            TS.COMPANY_ID,
            TC.COMPANY_NM,
            TO_CHAR(TS.REQUEST_DT, 'MM.DD HH24:MI') AS REQUEST_DT,
            TS.PROC_ST
        FROM
            TR_SERVICE  TS,
            TM_COMPANY  TC
        WHERE
            TS.COMPANY_ID = TC.COMPANY_ID
            AND TS.REQUEST_DT BETWEEN
                TO_DATE(#{START_DT} || '00:00:00', 'YYYYMMDDHH24:MI:SS')
                AND TO_DATE(#{END_DT} || '23:59:59', 'YYYYMMDDHH24:MI:SS')

        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            AND TS.COMPANY_ID = #{COMPANY_ID}
        </if>
        <if test="WORK_CD != null and WORK_CD != ''">
            AND TS.WORK_CD = #{WORK_CD}
        </if>
        ORDER BY TS.REQUEST_DT DESC
    </select>

    <!-- 결제 정보 조회 -->
    <select id="getPaymentList" parameterType="string" resultType="java.util.Map">
		SELECT SERVICE_ID,
		       PAY_KD,
		       PAY_AMT,
		       PAY_OP,
		       PAY_ST,
		       PRE_PAY_AMT,
		       VBANK_CD,
		       VBANK_NO,
		       TO_CHAR (PAY_DT, 'YYYY/MM/DD HH24:MI:SS') AS PAY_DT,
		       T_VBANK_GB,
		       T_VBANK_ID,
		       REAL_ALOAN
		  FROM TR_PAYMENT
		 WHERE SERVICE_ID = #{serviceId}
		 ORDER BY PAY_KD
    </select>
    
   	<!-- 세금 정보 조회 -->
	<select id="getTmTax" parameterType="string" resultType="java.util.Map" >
        SELECT *
        FROM (
            SELECT
                WORK_CD,
                STAMP_PER,
                STAMP_AMT,
                REGIST_PER,
                REGIST_AMT,
                STAMP_BASE,
                REGIST_BASE,
                ACQ1_PER,
                ACQ2_PER,
                ACQ3_PER,
                ACQ210_PER,
                ACQ211_PER,
                ACQ0_PER
            FROM TM_TAX
            WHERE WORK_CD = #{WORK_CD}
            AND SYSDATE BETWEEN START_DT AND END_DT
            AND USE_YN = 'Y'
            ORDER BY START_DT DESC
        )
        WHERE ROWNUM = 1
	</select>
	
	<select id="selectBondInfo_DBOND" parameterType="map" resultType="map" >
        SELECT DT.BANK_CODE AS BANK_CODE 
              ,FIELD2
              ,FIELD16
              ,FIELD18
              ,FIELD23
              ,FIELD24
              ,FIELD25
              ,FIELD26
              ,FIELD27
              ,FIELD28
              ,FIELD29
              ,FIELD30
              ,FIELD50
              ,''as BND_MNG_NO, '' as RPS_APP_NO,'' as BND_ISU_NO
              ,'즉시 매도 내역' AS BK_NM
              ,'' ASCOL_IST_NM
              ,'' AS NAPBU_DT
              ,TO_CHAR(sysdate, 'YYYY-MM-DD') AS NAPBU_DT2
          FROM WCMS_GW_TR_DT DT
         WHERE FIELD50 = #SERVICE_ID#
           AND TR_CODE IN ( 'WRT18', 'VRT18')
           AND DT.STATUS = '31'  
           ORDER BY TR_END_TIME DESC
	</select>
	
	<select id="selectBondInfo" parameterType="map" resultType="map">
	    SELECT DT.BANK_CODE AS BANK_CODE
	          ,FIELD2
	          ,FIELD16
	          ,FIELD18
	          ,FIELD23
	          ,FIELD24
	          ,FIELD25
	          ,FIELD26
	          ,FIELD27
	          ,FIELD28
	          ,FIELD29
	          ,FIELD30
	          ,FIELD50
	          ,BND_MNG_NO
	          ,RPS_APP_NO
	          ,BND_ISU_NO
	          ,'즉시 매도 내역(' || BK_NM || ')' AS BK_NM
	          ,COL_IST_NM
	          ,TO_CHAR(
	                TO_DATE(SAL_DY, 'YYYY-MM-DD HH24:MI:SS'),
	                'YYYY-MM-DD'
	           ) AS NAPBU_DT
	      FROM WCMS_GW_TR_DT DT
	          ,WCMS_GW_PUBLIC_BOND_LOG LOG
	     WHERE DT.REQUEST_DATE = LOG.TRCOM_SEND_DATE
	       AND DT.FIELD3 = LOG.RPS_APP_NO
	       AND FIELD50 = #{SERVICE_ID}
	       AND TR_CODE IN ('WRT18', 'VRT18')
	       AND DT.STATUS = '31'
	</select>
	
	<insert id="insertTrPayment" parameterType="map">
	    INSERT INTO TR_PAYMENT (
	        SERVICE_ID, PAY_KD, PAY_AMT, PAY_OP, PAY_ST,
	        VBANK_CD, VBANK_NO, PAY_DT, T_VBANK_GB, T_VBANK_ID,
	        INS_USER, PRE_PAY_AMT, REAL_ALOAN
	    )
	    VALUES (
	        #{SERVICE_ID}, #{PAY_KD}, NVL(#{PAY_AMT}, 0), #{PAY_OP}, #{PAY_ST},
	        #{VBANK_CD}, #{VBANK_NO}, TO_DATE(TRIM(#{PAY_DT}), 'YYYY/MM/DD HH24:MI:SS'), #{T_VBANK_GB}, #{T_VBANK_ID},
	        #{MEMBER_ID}, NVL(#{PRE_PAY_AMT}, 0), NVL(#{REAL_ALOAN}, 0)
	    )
	</insert>
	
	<delete id="deleteTrPayment" parameterType="map">
		DELETE FROM TR_PAYMENT
		WHERE SERVICE_ID = #{SERVICE_ID}
	</delete>
</mapper>
