<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dacos.scheduler.mapper.SchedulerMapper">

    <select id="selectNewcarWaitingServices" resultType="com.dacos.scheduler.dto.SchedulerDto">
        SELECT
            TS.SERVICE_ID,
            TS.WORK_CD,
            TS.COMPANY_ID,
            TS.BRANCH_ID,
            TS.MEMBER_ID,
            TS.GOVT_ID,
            TS.PROC_ST,
            TS.JUDGE_ST,
            TN.CARID_NO,
            TN.REQ_CAR_NO as CAR_NO,
            TN.OWNER_NM,
            PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO) AS MPHONE_NO,
            TN.REGIST_DATE
        FROM TR_SERVICE TS
             JOIN TR_NEWCAR TN ON TS.SERVICE_ID = TN.SERVICE_ID
        WHERE TRUNC(TN.REGIST_DATE) = TRUNC(SYSDATE)
          AND TS.PROC_ST = 'P_END'
        UNION ALL
        SELECT
            TS.SERVICE_ID,
            TS.WORK_CD,
            TS.COMPANY_ID,
            TS.BRANCH_ID,
            TS.MEMBER_ID,
            TS.GOVT_ID,
            TS.PROC_ST,
            TS.JUDGE_ST,
            TN.CARID_NO,
            TN.REQ_CAR_NO as CAR_NO,
            TN.OWNER_NM,
            PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO) AS MPHONE_NO,
            TN.REGIST_DATE
        FROM TR_SERVICE TS
             JOIN TR_NEWCAR TN ON TS.SERVICE_ID = TN.SERVICE_ID
        WHERE TRUNC(TN.REGIST_DATE) = TRUNC(SYSDATE)
        AND TS.PROC_ST = 'S_WAIT'
    </select>

        <select id="selectNewcarSpecialistInfo" resultType="com.dacos.scheduler.dto.SchedulerDto">
        SELECT
            MEMBER_NM AS SPECIALIST_NM,
            PKG_COMMON.FN_DECRYPT(MPHONE_NO) AS SPECIALIST_HP_NO
        FROM TM_MEMBER_DT
        WHERE MEMBER_ID = #{MEMBER_ID}
    </select>

    <select id="selectNewcarNonPayedServices" resultType="com.dacos.scheduler.dto.SchedulerDto">
        SELECT TS.SERVICE_ID, TS.CAR_NO, TS.PROC_ST, TS.JUDGE_ST, TS.COMPANY_ID, TN.REGIST_DATE, TS.MEMBER_ID, TCD.CUSTOMER_NM, DECODE (TN.PROC_CD, 'C', PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO), DECODE(TN.TASK_CD, 'LEASE', PKG_COMMON.FN_DECRYPT(TOI.DSIGN_HP_NO), PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO))) AS MPHONE_NO, TN.REQ_CAR_NO AS REQ_CAR_NO
        FROM TR_SERVICE TS, TR_NEWCAR TN, TR_CARNO_DETACH TCD, TR_OWNERINFO TOI
        WHERE TS.SERVICE_ID = TN.SERVICE_ID
          AND TS.SERVICE_ID = TCD.SERVICE_ID
          AND TCD.SERVICE_ID = TOI.SERVICE_ID(+)
          AND TS.PROC_ST IN ('P_REQ', 'PBEND')
          AND TO_CHAR(TN.REGIST_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE + 1, 'YYYYMMDD')
          AND TS.WORK_CD = '010'
          AND TOI.SEQ = 0
    </select>

    <select id="selectNewcarCardNonPayedServices" resultType="com.dacos.scheduler.dto.SchedulerDto">
        SELECT TS.SERVICE_ID, TN.REQ_CAR_NO, TS.PROC_ST, TS.JUDGE_ST, TS.COMPANY_ID, TN.REGIST_DATE, TS.MEMBER_ID, TCD.CUSTOMER_NM, DECODE (TN.PROC_CD, 'C', PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO), DECODE(TN.TASK_CD, 'LEASE', PKG_COMMON.FN_DECRYPT(TOI.DSIGN_HP_NO), PKG_COMMON.FN_DECRYPT(TN.MPHONE_NO))) AS MPHONE_NO, TP.VBANK_NO AS ACQ_VBANK_NO, TP.PAY_AMT AS ACQ_PAY_AMT
        FROM TR_SERVICE TS, TR_NEWCAR TN, TR_CARNO_DETACH TCD, TR_PAYMENT TP, TR_OWNERINFO TOI
        WHERE TS.SERVICE_ID = TN.SERVICE_ID
          AND TS.SERVICE_ID = TCD.SERVICE_ID
          AND TCD.SERVICE_ID = TP.SERVICE_ID
          AND TP.SERVICE_ID = TOI.SERVICE_ID(+)
          AND TS.PROC_ST NOT IN ('RET', 'DEL', 'END', 'D_CON', 'A_RET', 'P_RET')
          AND TN.CARD_YN = 'Y'
          AND TN.CARD_PAY_YN = 'N'
          AND TO_CHAR(TN.REGIST_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
          AND TS.WORK_CD = '010'
          AND TP.PAY_KD = 'ACQ' 
          AND TP.VBANK_NO IS NOT NULL
          AND TP.PAY_AMT != 0
          AND TOI.SEQ = 0
    </select>

    <select id="selectMemberInfo" resultType="com.dacos.scheduler.dto.SchedulerDto">
        SELECT MEMBER_NM, COMPANY_ID, BRACNH_ID, MEMBER_GB, TEL_NO, MPHONE_NO FROM TM_MEMBER_DT WHERE MEMBER_ID = #{MEMBER_ID}    
    </select>

    <update id="updateServiceToJudgeRequest" parameterType="map">
        UPDATE TR_SERVICE
           SET PROC_ST = 'S_REQ',
               JUDGE_ST = 'S_REQ',
               UPD_DATE = SYSDATE,
               UPD_USER = 'SCHEDULAR'
         WHERE SERVICE_ID = #{SERVICE_ID}
    </update>

</mapper>
